- if @result.present?
  .code= @result
- elsif partial_description && partial_description.partial.present?
  %h3= 'The Description for this custom partial'
  .code= partial_description.partial_description
- else
  %h3= 'No description found'

