.app-title
  %h1
    %i.fa.fa-footer.invert
    = 'New Link for ' + @fcol.name
  = link_to fcols_path, :class => 'btn btn-danger' do
    %span.app-menu__icon.fa.fa-cancel
    %span Cancel

= render 'form'
