- unless (p = @entry.photos_including_master.limit(@entry.side_bar_gallery)).empty?
  .side_bar
    - p.each do |p|
      .panel.photo
        %h1= link_to p.title, p
        = link_to image_tag(p.img.url(:bar), :class => 'photo'), p
        .caption= simple_format(p.description)
