#search-bar
  #search-bar-inner
    #search-wrapper
      = form_tag semi_static.search_entries_path, method: 'get', :class => 'searchform' do
        = text_field_tag :q, params[:q], :placeholder => t('Search'), :class => 'searchfield'
        = image_submit_tag 'search-small.png', :class => 'searchbutton', :alt => t('Search')
