- if SemiStatic::Engine.social_links.present?
  .social
    .social-inner
      - SemiStatic::Engine.social_links.each do |s, l|
        = link_to l do
          %div{:id => SemiStatic::Engine::SOCIAL_LINKS[s][:name].downcase, :title => "#{SemiStatic::Engine.config.site_name} @ #{SemiStatic::Engine::SOCIAL_LINKS[s][:name]}"}
            = SemiStatic::Engine::SOCIAL_LINKS[s][:name]
