/* High res 'retina' screens */
@media (device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .link a, .more a, .feint .more a, .flat .more a, .news .more a,
   #top li.icon a, #googleplus, #linkedin, #twitter, #facebook, #youtube, #xing { background-size: 28px $vert-sprites-height; background-image: url(#{$vert-x2-sprites});}
  #logo{ background: transparent url('x2/#{$logo}') center center no-repeat; background-size: $logo-width $logo-height; }
  #menu-button, #menu-close{background-image: none;}
}

