- e ||= @entry || document
.doc
  .doc-inner
    .col.span_2_of_3
      = e.doc_description
    .col.span_1_of_3
      .button
        = link_to "Download (#{human_file_size(e.doc_file_size)})", e.doc.url
