.form-group.mb-3.mt-3
  %label.font-weight-bold{:for => :entry_body}=  'Body (editing in raw HTML mode)'
  = text_area_tag 'entry[body]', @entry.body, {:rows => '20', :class => 'form-control'}
  .infobox
  %span.infomarker{:style => 'display: none'}
    = check_box_tag 'entry[raw_html]', true, true
