-# TODO Massive re-factor required here
- style ||= false
.entry{:style => "background-color: #{e.background_colour}"}
  - loop do
    = render :partial => 'semi_static/entries/entry_contents', :locals => {:style => style, :e => e }
    = render :partial => 'document', :locals => {:e => e}  if e.doc.present? && (style == :show)
    - break if (e = e.next_merged_entry).nil? || (style == :summary)
    .section
  - if (style == :summary) || (style == :small)
    .more= link_to t(:more), e
