.img
  - if @summaries || (((@entry_image_style == :summary) || (@entry_image_style == :small)) && !e.link_to_tag)
    = link_to entry_link_path(e) do
      = semantic_entry_image(e, @entry_image_style|| :summary, nil, false)
  - else
    = semantic_entry_image(e, @entry_image_style || :summary)
