#semi-static-entry-preview
  = stylesheet_link_tag 'semi_static_application', :scoped => true
  %style
    :plain
      h1.special{padding-bottom: 6px; border-bottom: solid 1px black;}
      .clear{clear: both;}
  .button
    = link_to_function 'Close', "$('#dialog').hide(); $('#semi-static-entry-preview').empty();"
  %h1.special= 'Preview'
  .clear
  = render :partial => 'entry', :locals => {:e => @entry, :style => :show}
