var sidebar_element = document.getElementById('semi_static_sidebar_nav');
!= "sidebar_element.outerHTML=('#{escape_javascript(render :partial => 'semi_static/entries/sidebar_pagination')}');"
semiStaticNavPagination();
