// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes ticker {
  0%   { background-position: 0px 0px; }
  100%   { background-position: -2048px 0px; }
}

@keyframes ticker {
  0%   { background-position: 0px 0px; }
  100%   { background-position: -2048px 0px; }
}

@-webkit-keyframes grower {
  0%   { font-size: 1px; }
  100% { font-size: 30px; }
}

@keyframes grower {
  0%   { font-size: 1px; }
  100% { font-size: 30px; }
}

@-webkit-keyframes mobile-grower {
  0%   { font-size: 1px; }
  100% { font-size: 22px; }
}

@keyframes mobile-grower {
  0%   { font-size: 1px; }
  100% { font-size: 22px; }
}

html { overflow-y: scroll; }
body{
  background-color: white; 
  margin: 0px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  color: #181828;
  background: url(/assets/satin.jpg) repeat;
}

a{text-decoration: none; color: black;}
fieldset{
  border: none;
}
h2{ font-size: 20px;}
#search-bar{ margin-top: 0px; margin-bottom: 10px; }
#top .inner, #overlay-inner, #search-bar-inner, #container, #top-inner, #footer-inner{
  max-width: 1024px; margin: 0px auto;
  background-color: transparent;
}
#toTop{ display: none; }
#overlay{
  position: relative;
  height: 365px;
}
#top .inner, #overlay-inner, #search-bar-inner{
  position: relative;
}
#search-wrapper{
  background: transparent url(/assets/white-75.png) 0 0 repeat;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 4px 0px 4px 4px;
  text-align: center;
}

#menu-button, #menu-close{
  display: none;
  float: right;
  color: #c8c8c8; font-weight: bold;
  padding: 3px 2px 4px 32px;
  margin: 2px 12px 0px 0px;
  background: transparent url(/assets/#{$vert-sprites}) left -243px no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 500;
}

#menu-button{
  // Create bigger click area
  padding-bottom: 34px;
}

#bar-in-menu{
  margin-top: 22px;
  border-top: dashed 1px $prime-color;
  display: none;
}

#content{
  margin: 6px;
}
#container:after{ content: ''; display: table; clear: both; }

/* Override col widths, odd given the class names so probably refactor at some point */
// .span_1_of_3.side-bar{ width: 23.8%; }
// .span_2_of_3.main-col{ width: 74.6%; }

/* Tile styles or sizes */
.tiles .col{
  margin-top: 0;
  margin-bottom: 0.5%;
}

.floater .img{
  position: relative;
}

.tiles .entry h1{
  padding-top: 4px;
  font-weight: lighter;
  text-shadow: -1px 1px 0px white;
}
.tiles .entry h1 a{
  height: 100px;
  display: block;
}
.tiles .html{
  margin-top: -6px;
  background: transparent url(/assets/tile-header-mask.png) 0 0 no-repeat;
  height: 100px;
}

.tiles .single .panel{
  padding: 0px;
  box-shadow: 0 0 5px #d0d0d0;
  max-height: 239px;
  overflow: hidden;
  max-width:241px;
  height: 239px;
}

.tiles .single .panel:hover{
  box-shadow: 0 0 5px #a0a0a0;
}

.tiles .single .floater{
  margin: 0;
  position: absolute;
  bottom: -5px;
}

.tiles .single .more{
  display: none;
}

.tiles .single .html{
  padding: 0px 6px;
  color: #383838;
}

.tiles .single .html a{
  color: #383838;
}

.tiles .span_1_of_2.wrapping{
  z-index: 20;
}

/* Now better tiles for browsers that support vw and vh */
.tiles .col{
  margin: 0vw;
}

.tiles{
  margin-left: -6px;
  margin-right: -6px;
}

.tiles .wrap_x_4{
  width: 100vw;
  max-width: 1024px;
  margin: 0;
}

.tiles .wrap_x_2{
  width: 50vw;
  max-width: 512px;
  float: left;
}

.tiles .wrap_x_1{
  float: left;
  width: 25vw;
  max-width: 256px; 
}

.tiles .single{
  width: 94.6%;
  max-width: 241px;
  margin: 0 2.7%;
}
.tiles .single .panel{
  height: 23vw;
  max-height: 239px;
}

@media only screen and (max-width: 720px) {
  .tiles .single h1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 512px) {
  .tiles .wrap_x_1{
    width: 50vw;
  }
  .tiles .wrap_x_2{
    width: 100vw;
  }
  .tiles .single .panel{
    height: 50vw;
  }
  .tiles .single h1{
    font-size: 24px;
  }
} 


#banner{
  box-shadow: 0 2px 5px #a0a0a0;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-color: white;
  border-bottom: 1px solid white;
  top: 88px;
}
#banner-frame{
  background-color: transparent; position: relative; width: 100%; max-width: 1500px;
  padding: 10px 0px; margin: 0px auto;
  -webkit-box-shadow: inset 25px 0px 25px -15px rgba(255, 255, 255, 1.0), inset -25px 0px 25px -15px rgba(255, 255, 255, 1.0);
  -moz-box-shadow: inset 25px 0px 25px -15px rgba(255, 255, 255, 1.0), inset -25px 0px 25px -15px rgba(255, 255, 255, 1.0);
  box-shadow: inset 25px 0px 25px -15px rgba(255, 255, 255, 1.0), inset -25px 0px 25px -15px rgba(255, 255, 255, 1.0);
  height: 280px;
}


#banner0{
  background:transparent url(/assets/banners/#{$banner-a}) center 0px no-repeat; z-index: -10;
}

#bannerBg{
  background:transparent url(/assets/banners/#{$banner-a}) center 0px no-repeat;
  z-index: -50;
}

#banner .bg{
  height: 300px;
  max-width: 1500px;
  width:100%;
  position: absolute;
  top: 0px;
  background-position: center 0px;
  background-repeat: no-repeat;
}
.bg{ z-index: -1; }

#footer{
  clear: both; border-top: 1px solid white; min-height: 50px; background-color: #f5f5f5;
  color: $contrast-color;
  box-shadow: 0 0px 5px #a0a0a0;
}
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; padding-bottom: 8px;}
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{color: $contrast-color;}
#footer .inner{padding: 0 2%;}
#footer a{color: $contrast-color;}

#bar-in-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}
#footer li{margin-bottom: 4px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}
#tagline{
  animation: ticker 160s infinite linear;
  -webkit-animation: ticker 160s infinite linear;
  width: 100%;
  height: $ticker-height;
  text-align: right; margin: 0px; color: white; font-size: 30px;
  background: transparent url(/assets/ticker.png) 0 0 repeat-x;
  background-size: $ticker-width $ticker-height;
  // If you want to play with CSS3 viewport widths:
  // font-size: 2.0vw !important;
}

.panel{
  padding: 2px 8px 0px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
}

.doc:after, .panel:after {
    clear: both;
    content: "";
    display: table;
}
.index.panel, .news .panel{
  background-color: $prime-color;
  color: white;
  border-bottom: 1px dashed white;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}


.highlight h2 a, .news h3 a, .news h3{
  color: white;
  text-align: right;
}
.panel:last-child{
  border-bottom: none;
}
.gallery, .social{
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #282828;
  margin-bottom: 10px;
  padding: 6px 11px;
  border-radius: 2px;
}
.social{
  padding: 6px 0px 4px;
  line-height: 30px;
  width: 100%;
}

.photo h2, .gallery h2 a, .gallery h2{
  text-align: right; color: $secondary-color;
  border-bottom: 1px dotted #b0b0b0;
}

.photo h2{
  margin-bottom: 16px;
  padding-bottom: 1px;
  margin-top: 9px;
}
.list h1{ color: $secondary-color;}

.social a{
  color: white;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}
#twitter{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px 5px no-repeat;}
#xing{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px -188px no-repeat;}
#facebook{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px -55px no-repeat;}
#youtube{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px -25px no-repeat;}
#bar-in-menu .search, #top .search{float: right; display: block; padding: 4px 8px 4px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px -216px no-repeat;}
#bar-in-menu .lady, #top .lady{float: right; display: block; padding: 4px 8px 0px 28px; background: transparent url(/assets/#{$vert-sprites}) 0px -109px no-repeat;}
#bar-in-menu .contact, #top .contact{float: right; display: block; padding: 4px 8px 0px 34px; background: transparent url(/assets/#{$vert-sprites}) 0px -84px no-repeat;}

#bar-in-menu .icon, #top .icon{ background-size: 28px 275px; }

.icon.sprite{height: 100px; width: 100px; background: url(/system/icons/menu-sprites.png) center 0px no-repeat;}
.icon.sprite.mini{height: 45px; width: 50px; background-size: 50px 250px;}
#sprite_1{background-position: center 0px;}
#sprite_2{background-position: center -100px;}
#sprite_2.mini{background-position: center -50px;}
#sprite_3{background-position: center -200px;}
#sprite_3.mini{background-position: center -100px;}
#sprite_4{background-position: center -300px;}
#sprite_4.mini{background-position: center -150px;}
#sprite_5{background-position: center -400px;}
#sprite_5.mini{background-position: center -200px;}
.icon.sprite + h2{padding-top: 10px;}
.icon + .html h2{padding-top: 6px;}

.social, .panel:after{ content: ''; display: table; clear: both; }

// .inner{ padding: 3%; }

h1{font-size: 24px;}
h1, h2, h3{ margin: 6px 0px 6px; color: $secondary-color; font-weight: lighter;}
h2 a, h3 a{color: $secondary-color;}
.panel h2{
  text-align: left;
  color: $secondary-color;
}
.panel.photo {
    text-align: center;
}
.caption{
  font-size: 14px;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

#tag-wrapper, #menu-wrapper, #logo-wrapper{
  width: 100%;
  margin: 0px auto;
  position: absolute;
}

#menu-wrapper{
  z-index: 1000;
  @if $banner-overlay == true {
    top: 12px;
  } @else {
    top: 3px;
  }
}

#logo-wrapper{
  @if $banner-overlay == true {
    top: 75px;
  } @else {
    top: -26px;
    z-index: 999;
    width: $logo-top-width;
  }
}

#tag-wrapper{
  top: 306px;
  height: $ticker-height;
}

#logo{
  @if $banner-overlay == true {
    height: $logo-height; width: $logo-width;
    margin: 0 auto;
    background: transparent url(/assets/#{$logo}) center center no-repeat;
  } @else {
    background: transparent url(/assets/#{$logo-top}) left center no-repeat;
    height: $logo-top-height;
  }
}

#mini-logo{
  width: $logo-top-width; height: $logo-top-height;
  background: transparent url(/assets/#{$logo-top}) 0 0 no-repeat;
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 5000;
}


#top{
  height: 30px;
}
#top, #footer{
  background: rgba(37,141,200,1);
  background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(1,107,176,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,141,200,1)), color-stop(100%, rgba(1,107,176,1)));
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(1,107,176,1) 100%);
  background: -o-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(1,107,176,1) 100%);
  background: -ms-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(1,107,176,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%, rgba(1,107,176,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#016bb0', GradientType=0 );
  z-index: 200; // for logo in banner
}
#top a{
  color: white;
}
#top ul{
  margin: 0; padding: 0;
}
#bar-in-menu li, #top-inner li{
  float: right;
  font-size: 16px;
  font-weight: lighter;
  padding: 4px 24px 6px 24px;
}
#bar-in-menu li a, #top-inner li a{
  // color: $prime-color;
}
#bar-in-menu li{
  font-size: 16px;
}
#menu #bar-in-menu a{
  text-transform: none;
}
.home{ padding-left: 52px !important; background: transparent url(/assets/home.png) 21px 2px no-repeat; background-size: auto !important;}

#menu-main{
  padding-right: 6px;
}
#menu{
  z-index: 500;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

#menu a{
  color: #282828;
  font-weight: lighter;
}

#menu .col{
  width: auto;
  float: right;
  margin-left: 5%;
  text-align:right;
  margin-top: 8px; margin-bottom: 6px;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
    width: 202px;
}
.searchform input[type='text'] {
    font: 16px Arial,Helvetica,sans-serif;
    width: 260px;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}
.html{ padding: 0; margin-bottom: 8px; }
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.link{text-align: center;}
.link a, .more a{
  background: transparent url(/assets/#{$vert-sprites}) right -138px no-repeat;
  background-size: 28px 275px;
  padding: 4px 36px 1px 12px;
  margin: 2px 0px 6px;
}
.feint .more a, .flat .more a, .news .more a{
  background: transparent url(/assets/#{$vert-sprites}) right -162px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}

/* Keep menu text inside the box */
#menu .wrapper .text{
  display: blocK;
  overflow: hidden;
  height: 24px;
}

#menu .wrapper .icon{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
  margin-top: -16px;
  left: 0px;
}

#menu .wrapper:hover .icon.sprite,
#menu .wrapper:hover .icon img{
  animation: wobble 16s infinite;
  -webkit-animation-name: wobble;
  -webkit-animation-duration: 16s;
}

#menu .wrapper a:hover{
  color: black;
}

.button{
  float: right;
  background: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.locale img{
  margin-top: -6px;
}

/* Custom menu icons */

.icon .custom{
  position: relative !important;
  height: 40px;
  // width: 90% !important;
  width: 90%;
  border-bottom: 4px solid $prime-color;
  border-radius: 2px;
  margin: -3px auto !important;
  opacity: 0.0;
  display: block;
  top: -18px;
}

#selected .icon .custom{opacity: 0.5 !important;}

#menu:hover .wrapper .icon .custom{display: none; opacity: 0.0;}

#menu .wrapper:hover .icon .custom{ opacity: 1.0 !important; display: block !important; }

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

/* Remove inner shadow when width greater than 1500px */
@media only screen and (max-width: 1500px) {
  #banner-frame{box-shadow: none;};
}

/* Search input overflows already at less than 1020px */
@media only screen and (max-width: 1020px) {
.searchform input[type='text'] { width: 74%;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ margin-left: 0; }
.entry .floater{ margin-left: 1.6%; }

@media only screen and (max-width: 760px) {
  // For smaller portrait the % margin at the top is too
  // small so we fine tune here by forcing a reasonable
  // margin between the image amd the top of the
  // panel
  .floater img{margin-top: 6px !important; }

  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

@if $search-bar-in-banner == true {
  @media only screen and (min-width: 950px) {
    #search-bar{ position: relative; z-index: 500; margin-top: -71px; margin-bottom: 26px;}
  }
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 900px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
  #banner0 {animation: none; opacity: 1.0; background-image: none; display: none;}
  #bannerBg {background-image: url(/assets/banners/#{$banner-tablet});}
}
@media only screen and (max-width: 450px) {
  #bannerBg {background-image: url(/assets/banners/#{$banner-mobile});}
}

@media only screen and (max-width: 820px) {
  // Change menu to hidden pop-up on click and fixed position
  #menu, #top-inner ul{display: none;}
  #menu{
    padding-top: 8px; padding-bottom: 12px;
    width: 100%; left: -10px; right: -10px;
    position: fixed; background-color: #f8f8f8;
    border: 1px solid $prime-color;
    background-image: none;
    font-size: 20px;
    border-bottom: 4px solid $prime-color;
  }
  #menu .col{ width: 100%; }
  #menu-loading-wrapper{display: block;}

  // Need to radically change the hover icons now menu has collapsed
  .icon .custom{
    height: 0px;
    border-width: 2px;
    margin: 3px auto !important;
    top: 16px;
    width: 30%;
  }
  #menu .wrapper .text{height: 30px; text-align: center;}

  .wrapper:not(#selected) .icon.sprite{background-image: none;}

  #top{position: fixed; width: 100%;}
  #menu-button{display: block;}

  #banner{top: 60px;}
  #logo-wrapper{top: 4px;}
  #overlay{height: 367px;}
}

/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}
}

@media only screen and (min-width: 760px) {
  .span_1_of_2.wrapping{ float: none !important; width: auto !important; }
  .span_1_of_2.floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}

@media only screen and (orientation:portrait) {
  #banner, .panel{
    transform: translateZ(0); 
  }
}

@media only screen and (orientation:landscape) {
  #banner, .panel{
    transform: translateZ(0); 
  }
}


