- content_for :pre_overlay do
  #banner_marker

- content_for :banner do
  #banner-wrapper
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{banner.img_url_for_theme(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{banner.img_url_for_theme(:mobile)})"}
  - unless tag_line.blank? || (@entry || @tag).get_page_attr('disableTagLine')
    #tag
      #tag-wrapper
        #tagline
          = tag_line

