- banner_name ||= ''
- banner_name.kind_of?(Array) ? banner_name.first : banner_name
- if (banner = SemiStatic::Banner.find_by_name(banner_name)).present?

  - content_for :header_css do
    :plain
      #banner-frame .bg{background-image: url("#{banner.img.url(:desktop)}");}
      @media only screen and (max-width: 750px) {
        #banner-frame .bg{background-image: url("#{banner.img.url(:mobile)}");}
      }

  - content_for :pre_overlay do
    #banner_marker

  - content_for :banner do
    #banner-wrapper
      #banner
        #banner-frame
          .bg
    #tag
      #tag-wrapper
        #tagline
          = banner.tag_line
