- banner_name ||= ''
- if (banner = SemiStatic::Banner.find_by_name(banner_name)).present?
  - content_for :banner do
    #overlay-2
      #tag-wrapper
        #tagline
          = banner.tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{banner.img.url(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{banner.img.url(:mobile)})"}
