%style{:type => "text/css"}
  :plain
    @font-face {
      font-family: 'Raleway'; font-style: normal; font-weight: 200;
      src: font-url('/assets/raleway-extralight.eot');
      src: font-url('/assets/raleway-extralight.eot?#iefix') format('embedded-opentype'),
           font-url('/assets/raleway200.woff') format('woff'),
           font-url('/assets/raleway-extralight.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Raleway'; font-style: normal; font-weight: 400;
      src: font-url('/assets/raleway.eot');
      src: font-url('/assets/raleway.eot?#iefix') format('embedded-opentype'),
           font-url('/assets/raleway400.woff') format('woff'),
           font-url('/assets/raleway-regular.ttf') format('truetype');
    }
