%style{:type => "text/css"}
  :plain
    @font-face {
      font-family: 'Raleway'; font-style: normal; font-weight: 400;
      src: url('/assets/AvenirNextLTPro-Cn.eot');
      src: url('/assets/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
           url('/assets/AvenirNextLTPro-Cn.woff') format('woff'),
           url('/assets/AvenirNextLTPro-Regular.ttf') format('truetype');
    }
