#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
    .menu-line
    .menu-line
    .menu-line
  #top-inner
    = link_to semi_static.home_path do
      #mini-logo
    = render :partial => 'semi_static/shared/bar'
