// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//
// ANIMATIONS
// ---------------


//
// HTML, BODY and general CSS
// ----------------------------

html { overflow-y: scroll; }
body{
  background-color: white; 
  margin: 0px;
  font:16px Raleway, Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  color: #181828;
  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQIHWP48+fP9+/f////zwCkgBwQC4ghAACODRqkCkEF0QAAAABJRU5ErkJggg==)
    repeat;
}

a{text-decoration: none; color: black;}
fieldset{ border: none; }

//
// HEADER TAG STYLES
//

h1 a{ color: $prime-color;}
h2{ font-size: 20px; font-weight: normal;}

//
// BODY 'HEADER', or anything before #frame and dynamic content
// ------------------------------------------------------------

#top{
  height: 75px;
  background-color: white;
  z-index: 200; // for logo in banner
  box-shadow: 0 0 7px #7c7c7c;
  width: 100%;
  position: fixed;
  top: 0px;
}
#top ul{
  margin: 0; padding: 0;
}

#bar{
  min-height: 75px;
}

#bar-menu{
  z-index: 1000;
  box-shadow: 0 0 2px #686868;
  background-color: $secondary-color;
  position: relative;
  right: 0px;
  height: 30px;
  float: right;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 42px;
  font-size: 14px;
}

#bar-menu ul{
  list-style: outside none none; 
  font-size: 16px;
  color: white;
  margin: 0px 12px 0px 14px;
}

#bar-menu li{
  float: right;
}

#bar-menu li a{
  color: #d8d8d8;
  background: url(/assets/vert-sprites-light.png) no-repeat scroll 0 0 transparent;
  display: block;
  padding: 5px 8px 0 14px;
}

#logo-wrapper {
    background: none repeat scroll 0 0 white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 12px;
    width: $logo-width;
    z-index: 2000;
    position: relative;
}

#menu-wrapper{
  z-index: 1000;
  top: -40px;
  right: 0px;
  position: relative;
}

.contain{
    margin: 0 auto;
    max-width: 1400px;
}

#bar-menu .sign-in a{float: right; display: block; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0px -290px no-repeat;}
#bar-menu .contact a{float: right; display: block; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0px -194px no-repeat;}
#bar-menu .search a{float: right; display: block; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0px -226px no-repeat;}
#bar-menu .icon a{ background-size: 28px $vert-sprites-height; }

#tag-wrapper{
  clear: both;
  position: relative;
  top: 90px;
}

#tagline{
  // If you want to play with CSS3 viewport widths: font-size: 2.3vw !important;
  width: 90%; text-align: center; margin: 0px auto; color: #282828; text-shadow: 1px 2px 5px black; font-size: 28px; font-weight: normal;
  text-shadow: -2px 8px 4px rgba(0, 0, 0, 0.2), 0 -5px 35px rgba(255, 255, 255, 0.3);
}

#logo{
  width: $logo-width; height: $logo-height;
  background: white url(/assets/#{$logo}) 0 0 no-repeat;
  color:transparent;
}

#menu-main{float: right;}
#menu-main .wrapper:hover{text-decoration: none;}
#menu-main .col{margin-left: 8px; width: auto; float: right;}
#menu-main .wrapper:hover{ text-decoration: underline; }

#menu{
  z-index: 500; width: 98%;
  margin: 0 auto; font-size: 20px;
  font-weight: bold; padding-right: 12px;
}

#menu a{
  color: #282828; font-weight: normal;
  float: right; margin-left: 12px;
}

#menu .col{
  text-align:right;
}

nav li{ line-height: 20px; list-style: outside none none; }

/* Start of slider stuff */


#menu-button .text{display:none;text-align:center;}
#menu-button, #menu-close{
  cursor: pointer;
  float: right;
  position:relative; z-index:500;
}
#menu-button{width:32px;top:0;right:0; padding:4px 4px 4px 12px;}
#menu-button-wrapper{z-index:500;top:0;width:100%;position:fixed;width:100%;max-width:1400px;height:0;}

#menu-button .menu-line{
  height: 5px; width: 80%;
  background-color: $prime-color;
  border-radius: 2px; margin: 2px auto;
}
#slide-menu{height:100%;}
#slide-menu-wrapper .locales{
  padding-top:8px;
  clear:both;
}

#slide-menu-window.open{
  min-width:300px;
  overflow:visible;
}
#slide-menu-window{
  position:absolute;
  top:0; right:0;
  width:0;
  overflow:hidden;
  height:100%;
}
.open #slide-menu-wrapper{
  right:0px;
}
#slide-menu-wrapper{
  transition: right 0.5s ease-in 0s;
  box-shadow: 0 0 80px black;
  background-color: $prime-color;
  color: white;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  right: -412px;
  top: 0;
  min-width: 300px;
  z-index: 2000;
  padding:6px;
}
#slide-menu-main{padding: 0px 6px;}
#slide-menu-wrapper .wrapper .text{
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 8px;
  font-size:18px;
}
#slide-menu-wrapper .searchform input{width:auto;}

#slide-menu-wrapper .wrapper{
  text-align:right;
  margin-bottom: 8px;
}

#slide-menu-wrapper a{color: #dcdcdc;}
#slide-menu-wrapper .wrapper a:hover{ color: white; }
#slide-menu-wrapper .wrapper a{
  color: #dcdcdc;
  font-size: 16px;
  text-shadow: none;
  display:inline-block;
}
#slide-menu-wrapper .wrapper a, #slide-menu-wrapper li a{
  line-height:28px;
}
#slide-menu-wrapper .sub-menu{
  margin: 4px 0 12px;
  display:block;
  position:relative;
  background-color:transparent;
  border: none;
  text-align:right;
  z-index:1;
}
#slide-menu-wrapper .sub-menu a{
  text-transform:none;
  text-shadow:none;
  display:block;
  padding: 4px 0;
}
#slide-menu-wrapper .bar-menu{
  margin-top:12px;
  border-top: 1px solid #a0a0a0;
  text-align: right;
}
#slide-menu-wrapper .bar-menu .icon{
  padding-right: 12px;
}
#slide-menu .locales a{
  text-transform: uppercase;
  float: right;
  margin-right: 12px;
  font-size: 20px;
}
#close-sym{
  font-size:46px;
  color:#dcdcdc;
  line-height: 32px;
  padding-bottom: 32px;
}

/* End of slider stuff */

#menu .wrapper .text{
  display: blocK;
  overflow: hidden;
  height: 24px;
}

#menu .wrapper .icon {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;
}

#menu .wrapper a:hover{
  @if variable-exists(menu-hover-color) {
    color: $menu-hover-color;
  } @else {
    color: black;
  }
}

.locale img{ margin-top: -6px; }
#bar-menu .locale a{background-image: none;}

//
// Dynamic content
// -----------------
// #container{background-color: white !important; box-shadow: 0 0 2px #c8c8c8;}
#container{background-color: white; box-shadow: 0 0 2px #c8c8c8;}
#frame{margin-top: 105px;}

/* Home page entry images are slightly smaller */
// #semi-static-home-page .entry img{
//   max-width: 241px;
// }

#search-bar{ margin-top: 0px; margin-bottom: 10px; }

//#top .inner, #overlay-inner, #search-bar-inner, #container, #top-inner, #footer-inner{
#slide-menu, #container, #menu-wrapper, #footer-inner, #tag-wrapper{
  margin: 0px auto;
  max-width: 1400px;
  background-color: transparent;
}

#search-wrapper{
  padding: 4px 0px 4px 4px;
  text-align: center;
}


#content, .content{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}
#container:after{ content: ''; display: table; clear: both; }

//
// FOOTER
//

#footer{color: white; clear: both; border-top: 1px solid #d8d8d8; min-height: 50px; background-color: $prime-color;}
#footer a{color: white;}
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  color: white;
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; }
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{color: white; font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{color: white; font-weight: normal;}
#footer .inner{padding: 0 4%;}

#bar-in-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}

.panel{
  padding: 2px 8px 0px;
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
}

.doc-inner:after, .panel:after {
    clear: both;
    content: '';
    display: table;
}


/* TODO: News not shown on home page for this theme, so move to site.css */
.index.panel, .news .panel{
  border-bottom: 1px solid #e0e0e0;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}
.doc-inner, .news{background-color:#f0f4f8;}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}

.panel.feint{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.panel.wobble, .panel.flat{
  box-shadow: none; border: 0px;
}

.panel.collapse{
  margin-bottom: 1px;
}

.panel.highlight{
  background-color: $secondary-color; color: white;
}
.panel:last-child{border-bottom: none;}
.gallery, .news, .social{
  margin-bottom: 10px;
  padding: 6px 11px;
  border-radius: 2px;
}
.social{
  padding: 2px 0px;
  width: 100%;
  text-align: center;
}

.social-inner{
  display: inline-block;
}
.gallery h2 a, .gallery h2, .news h2 a, .news h2{ border-bottom: 1px solid #808080; }
.list h1, .panel.list h2{ color: $prime-color; border-bottom: 1px solid #808080; text-align: center;}

.social a{
  color: $secondary-color;
  vertical-align: bottom;
  line-height: 20px;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; margin-right: 8px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}

#facebook{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 1px no-repeat;}
#youtube{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -31px no-repeat;}
#twitter{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -63px no-repeat;}
#linkedin{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -95px no-repeat;}
#googleplus{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -127px no-repeat;}
#xing{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -159px no-repeat;}
#instagram{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -318px no-repeat;}

.social:after, .panel:after{ content: ''; display: table; clear: both; }

h1{font-size: 24px; font-weight: normal;}
h1{ margin: 6px 0px 8px; color: $prime-color}
h2, h3{ margin: 6px 0px 6px; color: $secondary-color;  font-weight: normal;}
h2 a, h3 a{color: $secondary-color;}
.panel h2{
  text-align: left;
  color: $prime-color;
}
.popped{border: 4px solid white; border-radius: 2px; box-shadow: 0 0 7px #7c7c7c;}
.panel.photo {
    text-align: center;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}


.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
    width: 202px;
}
.searchform input[type='text'] {
    font: 16px Arial,Helvetica,sans-serif;
    width: 260px;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}

.html{ padding: 0; margin-bottom: 8px; }
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.link{text-align: center;}
.link a, .more a{
  background: transparent url(#{$vert-sprites}) right -290px no-repeat;
  background-size: 28px $vert-sprites-height;
  padding: 4px 32px 4px 8px;
  margin: 2px 0px 6px;
}
.feint .more a, .flat .more a, .news .more a{
  background: transparent url(#{$vert-sprites}) right -290px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}


/* Custom menu icons */

.icon .custom{
  position: relative !important;
  height: 40px;
  opacity: 0.0;
  display: block;
  top: -17px;
  margin-right: -10px;
  @if variable-exists(menu-hover-color) {
    border-bottom: 4px solid $menu-hover-color;
  } @else {
    border-bottom: 4px solid $prime-color;
  }
}

#selected .icon .custom{
  @if variable-exists(menu-selected-underline-color) {
    border-bottom: 4px solid $menu-selected-underline-color !important;
    opacity: 1.0 !important;
  } @else {
    opacity: 0.5 !important;
  }
}
#slide-selected:before{ content:'»'; font-weight:bold; }

#menu:hover .wrapper .icon .custom{display: none; opacity: 0.0;}
#menu .wrapper:hover .icon .custom{
  @if variable-exists(menu-selected-underline-color) {
    border-bottom: 4px solid $menu-hover-color !important;
  }
  opacity: 1.0 !important; display: block !important;
}

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

//
// Start of responsive design
//

/* Search input overflows already at less than 1020px */
@media only screen and (max-width: 1020px) {
.searchform input[type='text'] { width: 74%;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ margin-left: 0; }
.entry .floater{ margin-left: 1.6%; position: relative; z-index: 10;}

@media only screen and (max-width: 760px) {
  // For smaller portrait the % margin at the top is too
  // small so we fine tune here by forcing a reasonable
  // margin between the image amd the top of the
  // panel
  .floater img{margin-top: 6px !important; }

  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 750px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
}

@media only screen and (max-width: 820px) {
  // Change menu to hidden pop-up on click and fixed position
  #bar-menu, #menu{display: none;}
  #slide-menu #menu-button, #menu-button .text{display:block;}
  #menu-button .menu-line{height:8px;margin:3px auto;}
  #menu-wrapper{z-index: 0;}
  #menu .col{ width: 100%; margin: 0;}
  #menu-loading-wrapper{display: block;}
  #menu a{float: none; text-align: right; padding: 4px 14px; margin-left: 6px;}
  #menu-main .wrapper:nth-child(2n){background-color: #f0f0f0;}
  #menu-main{
    margin-top: 64px; background-color: $prime-color;
    box-shadow: 0 0 7px #7c7c7c;
    width: 100%;
  }
  #menu .wrapper{background-color: white;}
  #menu .wrapper .text{height: auto; border-bottom: 1px solid #e0e0e0;}

  // Need to radically change the hover icons now menu has collapsed
  .icon .custom{
    border: none;
  }
  .wrapper:not(#selected) .icon.sprite{background-image: none;}
  #menu-main #selected{background-color: #f0f0f0;}

  /* No Firefox support for background-position-x, but applies only usually to mobile any */
  #selected.wrapper .icon.sprite{background-position-x: left;}

  #top{position: fixed; width: 100%;}
  #menu-button{display: block; width: 50px;position:fixed;right:0px;top:0px;}
}

/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}

  /* Google page mobile test is gonna punish you if the footer links are too close together */
  #footer li{margin-bottom: 8px;}
}

@media only screen and (min-width: 760px) {
  .wrapping{ float: none !important; width: auto !important; }
  .floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}
