/*
 * You can change the values of the variables here to get different layouts,
 * but don't remove any variable else the SASS will not compile
 */

/* SASS */
$prime-color: #ff2700;
$secondary-color: #303030;
$font-color: #181818;

/* Change to match your logo and its dimensions */
$logo: 'logo.png';
$logo-width: 270px;
$logo-height: 117px;

$logo-top: 'logo-top.png';
$logo-top-width: 120px;
$logo-top-height: 54px;

/* The sprites file for various icons */
$vert-sprites: '/assets/vert-sprites.png';
$vert-x2-sprites: '/assets/x2/vert-sprites.png';
$vert-sprites-height: 237px;

/* Add your custom variables, if needed below here */
