- SemiStatic::Entry.home.locale(I18n.locale).each_slice(3) do |row|
  .section
    - row.each do |e|
      .col.span_1_of_3
        .entry.panel{:class => e.style_class, :style => "background-color:#{e.background_colour}; color: #{e.colour}"}
          = render :partial => 'semi_static/entries/entry', :locals => {:e => e, :style => :summary}
