.references
  .panel.list
    -# %h1= t('References')
    .section
      - SemiStatic::Reference.side_bar.locale(I18n.locale).each do |r|
        %h2= link_to r.title, r
        .quote
          = r.quote
