= render :partial => 'semi_static/shared/custom_banner', :locals => {:banner_name => 'References'}
.section
  .col.span_2_of_3
    = render :partial => 'semi_static/references/quotes'
  .col.span_1_of_3
    = render :partial => 'semi_static/references/side_bar'
