// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes fader {
  0%   { opacity: 0.0; }
  18%   { opacity: 0.0; }
  20%   { opacity: 1.0; }
  40%  { opacity: 1.0; }
  42%  { opacity: 0.0; }
  100%  { opacity: 0.0; }
}

@-webkit-keyframes fader {
  0%   { opacity: 0.0; }
  18%   { opacity: 0.0; }
  20%   { opacity: 1.0; }
  40%  { opacity: 1.0; }
  42%  { opacity: 0.0; }
  100%  { opacity: 0.0; }
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  1% { transform: rotate(5deg); }
  3% { transform: rotate(-5deg); }
  5% { transform: rotate(0deg); }
}

@-webkit-keyframes wobble {
  0% { -webkit-transform: rotate(0deg); }
  1% { -webkit-transform: rotate(5deg); }
  3% { -webkit-transform: rotate(-5deg); }
  5% { -webkit-transform: rotate(0deg); }
}

html { overflow-y: scroll; }
body{
  background-color: white; 
  margin: 0px;
  font:16px 'Raleway', 'Ubuntu', Arial, Verdana, Helvetica, sans-serif;
  color: #181828;
}

a{text-decoration: none; color: black;}
fieldset{
  border: none;
}
h2{ font-size: 20px;}
#search-bar{ margin-top: 0px; margin-bottom: 10px; }
#top-wrapper, #overlay-inner, #search-bar-inner, #container, #top-inner, #footer-inner{
  max-width: 1024px; margin: 0px auto;
  background-color: transparent;
}
#overlay{
  position: relative;
  height: 550px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
#top .inner, #overlay-inner, #search-bar-inner{
  position: relative;
}

#overlay-inner{
  max-width: 1500px;
  margin: 0 auto;
  min-height: 30px;
  width: 100%;
  position: relative;
}

#search-wrapper{
  background: transparent url(/assets/white-75.png) 0 0 repeat;
  border: 1px solid white;
  border-radius: 2px;
  padding: 4px 0px 4px 4px;
  text-align: center;
}

#menu-button, #menu-close{
  display: none;
  float: right;
  color: $prime-color; font-weight: bold;
  padding: 7px 14px 10px 44px;
  background: white url(/assets/vert-sprites.png) 12px -212px no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 50000;
  border-bottom-left-radius: 8px;
}

#content{
  margin: 6px;
}
#container:after{ content: ''; display: table; clear: both; }
#container{
  position: relative;
}

//
// Banner animations
//
// Animation deleay and initial opacity is set to cause the banner images display in
// css div order #banner2, #banner0, #banner1, #banner2, banner0, etc.. Putting common
// css between these divs into the #banner .bg class causes error on some browsers so
// leave them wheer they are for now
//
// Webkit currently has some bugs/oditties that mean the the 0% of the animation
// is applied even if there is a delay. This means that we need fallback background
// which is given by #bannerBg. This is also useful as the smaller mobile banner inside
// the media query later
//

#banner-wrapper{
  position: relative;
  height: 300px;
}
#banner{
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: -10;
  top: 0px;
}
#banner-frame{
  background-color: transparent; position: relative; width: 100%; max-width: 1008px;
  padding: 10px 0px; margin: 0px auto;
  height: 280px;
}

#bannerBg{ background:transparent url(/assets/banners/#{$banner-a}) no-repeat 0px 0px; }

#banner .bg{
  height: 300px;
  max-width: 1008px;
  width:100%;
  position: absolute;
  top: 0px;
  background-size: cover;
}
.bg{ z-index: -1; }

#footer{clear: both; min-height: 50px; background-color: white;}
#footer-inner{padding: 0 6px; }
#footer-inner .group:first-child{border-top: 1px solid #d8d8d8; }
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; }
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{font-size: 18px; color: $prime-color;}
#footer .inner{padding: 0 2%;}

#bar-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}
#tag{height: 0px;}
#tagline{
  padding: 20px 10%;
  max-width: 1024px;
  width: 80%; text-align: center; margin: 0px auto; color: white; font-size: 20px;
  max-height: 125px;
  overflow: hidden; 
}

.panel{
  padding: 2px 8px 0px;
  background-color: white;
  // border: 1px solid #d8d8d8;
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
}

.doc:after, .panel:after {
    clear: both;
    content: "";
    display: table;
}
.index.panel, .news .panel{
  background-color: $prime-color;
  color: white;
  border-bottom: 1px dashed white;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}

.entry.panel{
  height: 500px;
  overflow: hidden;
  padding: 0px;
}
.floater{
  margin-top: 0px;
  margin-bottom: 9px;
}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}

.panel.feint{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.panel.flat{
  box-shadow: none;
  border: 0px;
}
.panel.collapse{
  margin-bottom: 1px;
}
.panel.highlight{
  background-color: $prime-color;
  color: white;
}

.highlight h2 a, .news h3 a, .news h3{
  color: white;
}
.gallery, .news, .social{
  background-color: #171717;
  background-color: $prime-color;
  color: white;
  margin-bottom: 10px;
  padding: 6px 11px;
  border-radius: 2px;
}
.social{
  padding: 6px 0px 4px;
  line-height: 30px;
  width: 100%;
}
.gallery h2 a, .gallery h2, .news h2 a, .news h2{ color: white; border-bottom: 1px solid white; }
.list h1{ color: $prime-color; border-bottom: 1px solid $prime-color; }

.social a{
  color: white;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; margin-right: 8px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}

#facebook{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 1px no-repeat;}
#youtube{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -31px no-repeat;}
#twitter{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -63px no-repeat;}
#linkedin{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -95px no-repeat;}
#googleplus{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -127px no-repeat;}
#xing{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -160px no-repeat;}
#instagram{float: right; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0 -319px no-repeat;}

#bar-menu .contact a{float: right; display: block; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0px -193px no-repeat;}
#bar-menu .search a{float: right; display: block; padding: 4px 8px 4px 32px; background: transparent url(#{$vert-sprites}) 0px -226px no-repeat;}
#bar-menu .icon a{ background-size: 28px $vert-sprites-height; }

#twitter, #xing, #facebook, #youtube, #bar-menu .icon a{ background-size: 28px $vert-sprites-height; }

.icon.sprite{height: 100px; width: 100px; background: url(/system/icons/menu-sprites.png) center 0px no-repeat;}
.icon.sprite.mini{height: 45px; width: 50px; background-size: 50px 250px;}
#sprite_1{background-position: center 0px;}
#sprite_2{background-position: center -100px;}
#sprite_2.mini{background-position: center -50px;}
#sprite_3{background-position: center -200px;}
#sprite_3.mini{background-position: center -100px;}
#sprite_4{background-position: center -300px;}
#sprite_4.mini{background-position: center -150px;}
#sprite_5{background-position: center -400px;}
#sprite_5.mini{background-position: center -200px;}
.icon.sprite + h2{padding-top: 10px;}
.icon + .html h2{padding-top: 6px;}
.span_1_of_3 .html h2{margin-top: 0px;}
h2 + p{margin-top: 4px;}

.social, .panel:after{ content: ''; display: table; clear: both; }

// .inner{ padding: 3%; }

h1{font-size: 24px;}
h1, h2, h3{ margin: 6px 0px 6px; color: $secondary-color}
h2 a, h3 a{color: $secondary-color;}
.panel h2{
  text-align: left;
  color: $prime-color;
}
.panel.photo {
    text-align: center;
}
.caption{
  font-size: 14px;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

#tag-wrapper, #menu-wrapper, #logo-wrapper{
  width: 100%;
  margin: 0px auto;
  max-width: 1008px;
  position: relative;
}

#menu-wrapper{
  top: -80px;
  max-width: 1006px;
}

#logo-wrapper{
  width: $logo-width;
  margin: 0;
  z-index: 10;
}

#tag-wrapper{
  border: 1px solid white; border-width: 1px 0px;
  width: 100%;
  max-width: 1012px;
  top: -100px;
  background-color: rgba(37,141,200,0.9);
  margin: 0 auto;
  z-index: -5;
}

#logo{
  height: $logo-height; width: $logo-width;
  background: transparent url(/assets/#{$logo}) center center no-repeat;
}

#top{
  height: 76px;
}
#top ul{
  margin: 0; padding: 0;
}
#bar-menu li, #top-inner li{
  float: right;
  font-size: 18px;
  padding: 4px 12px 6px;
}
#bar-in-menu li a, #top-inner li a{
  color: $prime-color;
}
#bar-in-menu li{
  font-size: 16px;
}
#menu #bar-in-menu a{
  text-transform: none;
}
.home{ padding-left: 52px !important; background: transparent url(/assets/home.png) 21px 2px no-repeat; }

#menu{
  border-bottom: 1px solid #d0d0d0;
  z-index: 500;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

#menu a{
  color: #383838;
  font-weight: 900;
}

#menu .col{
  text-align:center;
  float: right;
  margin-top: 8px; margin-bottom: 6px;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
    width: 202px;
}
.searchform input[type='text'] {
    font: 16px Arial,Helvetica,sans-serif;
    width: 260px;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}
.html{ padding: 0; margin-bottom: 8px; }
.entry .html{padding: 0 10px;}
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.entry .more{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 12px;
  padding: 11px 3px 8px 0px;
}
.link{text-align: center;}
.link a, .more a{
  background: transparent url(/assets/vert-sprites.png) right -260px no-repeat;
  background-size: 28px 237px;
  padding: 4px 36px 1px 12px;
  margin: 2px 0px 6px;
}
.feint .more a, .flat .more a, .news .more a{
  background: transparent url(/assets/vert-sprites.png) right -162px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}

/* Keep menu text inside the box */
#menu .wrapper .text{
  display: blocK;
  overflow: hidden;
  height: 24px;
}

#menu .wrapper .icon{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
  margin-top: -16px;
  left: 0px;
}

#menu .wrapper a:hover{
  text-shadow: 0px 0px 4px white;
}

.button{
  float: right;
  background: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Custom menu icons */

.icon .custom{
  position: relative !important;
  border-radius: 6px 6px 0px 0px;
  height: 39px;
  width: 98%;
  // margin: -3px auto !important;
  display: block;
  top: -17px;
  background-color: white;
  border: 1px solid #c0c0c0;
  border-bottom: none;
}

#selected .icon .custom{
  background-color: $prime-color;
  border: 1px solid white;
  top: -18px;
  height: 40px;
  border-bottom: none;
}

#selected.wrapper a{color: white;}
#menu:hover #selected.wrapper a{}

// #menu:hover .wrapper .icon .custom{display: none; opacity: 0.0;}

// #menu .wrapper:hover .icon .custom{ ; }

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

/* Remove inner shadow when width greater than 1500px */
@media only screen and (max-width: 1500px) {
  #banner-frame{box-shadow: none;};
}

@media only screen and (max-width: 1028px) {
  #menu{border-width: 1px 0px;}
}

/* Search input overflows already at less than 1020px */
@media only screen and (max-width: 1020px) {
  .searchform input[type='text'] { width: 74%;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ width: 97%;  margin-top: 0px; margin-left: 0; }

@media only screen and (max-width: 760px) {
  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

@if $search-bar-in-banner == true {
  @media only screen and (min-width: 950px) {
    #search-bar{ position: relative; z-index: 500; margin-top: -71px; margin-bottom: 26px;}
  }
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 750px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
  #banner4, #banner3, #banner2, #banner1, #banner0 {animation: none; opacity: 1.0; background-image: none; display: none;}
  #bannerBg {background-image: url(/assets/banners/#{$banner-mobile});}
}

@media only screen and (max-width: 820px) {
  // Change menu to hidden pop-up on click and fixed position
  #menu, #top-inner ul{display: none;}
  #menu{
    padding-top: 8px; padding-bottom: 2px;
    width: 90%; max-width: 330px; left: -10px; right: -10px;
    position: fixed; background-color: #f8f8f8; top: 44px;
    border: 1px solid $prime-color;
    background-image: none;
    border-radius: 2px;
    box-shadow: 0 50px 500px black;
    font-size: 16px;
  }
  // Change top on logo position to compensate for menu dissapearing
  #logo-wrapper{top: 25px !important;}

  #menu .col{ width: 100%; }
  #menu-loading-wrapper{display: block;}

  .wrapper:not(#selected) .icon.sprite{background-image: none;}

  /* No Firefox support for background-position-x, but applies only usually to mobile any */
  #selected.wrapper .icon.sprite{background-position-x: left;}

  // Need to radically change the hover icons now menu has collapsed
  .icon .custom{
    height: 0px;
    border-width: 2px;
    margin: 3px auto !important;
    top: 16px;
    width: 30%;
  }
  #menu .wrapper .text{height: 20px;}

  #top{position: fixed; width: 100%; display: block;}
  #menu-button{display: block;}
}

/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}
  .entry .floater img{margin-top: 6px;}
  .entry.panel{height: auto; min-height: 0px;}

}

@media only screen and (min-width: 760px) {
  .wrapping{ float: none !important; width: auto !important; }
  .floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}

