/*
 * You can change the values of the variables here to get different layouts,
 * but don't remove any variable else the SASS will not compile
 */

/* SASS */
$prime-color: #499bea;
$secondary-color: #309020;

/* Change to match your logo and its dimensions */
$logo: 'logo.png';
$logo-width: 260px;
$logo-height: 116px;

/* For wide view ports you can have the search bar in the banner IF banner-overlay is true */
$search-bar-in-banner: false;

/* Name of image files in the your applications assets/images/banners directory that make */
/* up the animated home page banner. Should be 1000px x 300px */
$banner-a: 'banner04-big.jpg';

/* Name of image files in the your applications assets/images/banners directory that */
/* will be used for the single mobile (small screen width) mobile banner */

$banner-mobile: 'banner-mobile-big.jpg';

/* The sprites file for various icons */
$vert-sprites: '/assets/vert-sprites-big-grey.png';
$vert-x2-sprites: '/assets/x2/vert-sprites-big-grey.png';
$vert-sprites-height: 352px;

/* Add your custom variables, if needed below here */
