#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
    .menu-line
    .menu-line
    .menu-line
  #top-inner
    = render 'semi_static/shared/bar'
#overlay
  #overlay-inner
    = render 'semi_static/shared/menu'
    #logo-wrapper
      #logo
