%style{:type => "text/css"}
  :plain
    @font-face {
      font-family: 'Open Sans Condensed'; font-style: normal; font-weight: 400;
      src: url('/assets/OpenSans-CondLight.eot');
      src: url('/assets/OpenSans-CondLight.eot?#iefix') format('embedded-opentype'),
           url('/assets/OpenSans-CondLight.woff') format('woff'),
           url('/assets/OpenSans-CondLight.ttf') format('truetype');
    }

