#bar_menu
  %ul
    = locales
    %li.contact.icon= link_to t('Contact'), semi_static.new_contact_path
    - if SemiStatic::Tag.where('predefined_class = ?', 'Home').empty?
      %li.home.icon= link_to 'Home', semi_static.home_path

