# The custom partials may reside in the main Application views but they ar
# executed in the SemiStatic::Engine context. This means that they do not
# get access to the main application helpers, which may be a surprise.
#
# If you need to call an main application helper you will have to use the
# full path:
#    ApplicationController.helpers.my_helper_method

%h1 This is an exmaple of a SemiStatic custom partial
%p
   Add your content here and them in the admin dashboard you can configure when it is displayed
