.modal-header
  %h5= ['New page attribute for: ', @page_attrable.raw_title].join
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
.modal-body
  = render 'form'


