.button= link_to_function 'Cancel', "$('#dialog').hide();"
%h1= ['New hreflang tag for ', @hreflang.seo.seoable.raw_title, ' (', @hreflang.seo.seoable.class.to_s.split('::').last, ')'].join
= render 'form'
