!= "$(\"#generalModal .modal-content\").html('#{escape_javascript(render :partial => @html_template)}');"
!= "$(\"#generalModal .modal-dialog\").addClass('modal-lg').modal();"
!= "$(\"#generalModal\").modal();"
