= CSV.generate_line [ ['Subscibers for', SemiStatic::Engine.config.site_name, Time.now.strftime("%d/%m/%Y")].join(" ")]
- headers = ['Name', 'Surname', 'Email', 'Telephone', 'Position', 'Company', 'Country', 'Locale', 'Category']
= CSV.generate_line headers
- @subscribers.each do |s|
 - row = [s.name, s.surname, s.email, s.telephone, s.position.to_s, s.company.to_s, s.position.to_s, s.country.to_s, s.locale.to_s, s.category_name]
 = CSV.generate_line(row).strip.html_safe

