#popupCloseButton
  &Cross;
#popImgWrapper{:style => 'overflow: hidden; z-index: -1; position: relative;'}
  #popImg

- if @photo&.carousel
  #semiStaticCleft.carousel
  #semiStaticCright.carousel
- if @caption.present?
  #popup_caption
    = @caption.to_s.html_safe
