#popoff{:style => "width: #{@width}px; height:#{@height}px;", :onclick => 'var d=document.getElementById("dialog"); d.className = d.className.replace(/^popped$/, \'\'); d.style.display="none";document.getElementById("content").style.opacity="1.0";'}
#popup_caption
  = @caption.to_s
