#popupCloseButton
  &Cross;
#popoff{:style => "width: #{@width}px; height:#{@height}px;"}
  - if @photo&.carousel
    #semiStaticCleft.carousel
    #semiStaticCright.carousel
  #popoffInner
  - if @caption.present?
    #popup_caption
      = @caption.to_s.html_safe
