.app-title
  %h1 
    %i.fa.fa-photo.invert
    %span #{@photos.size} Photos
  .text-right
    = link_to galleries_path, :class => 'btn btn-primary btn-space' do
      %span.app-menu__icon.fa.fa-photo
      %span Galleries
    = link_to new_photo_path, :class => 'btn btn-primary' do
      %span.app-menu__icon.fa.fa-photo
      %span New Photo
= render :partial => 'admin_list_index'
