= render :partial => 'semi_static/shared/custom_banner', :locals => {:banner_name => 'Gallery'}
.section
  .panel.photo
    #semi_static_ajax_photo
      = render :partial => 'semi_static/photos/show'
   
.section
  = render :partial => 'index'
