// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//
// ANIMATIONS
// ---------------


//
// HTML, BODY and general CSS
// ----------------------------

html { overflow-y: scroll; overflow-x:hidden;}
body{
  background-color: white; 
  margin: 0px;
  font:16px 'Raleway', 'Ubuntu', Arial, Verdana, Helvetica, sans-serif;
  color: $font-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 1000px;
  background-position:center center;
}

a{text-decoration: none; color: black;}
fieldset{ border: none; }

//
// HEADER TAG STYLES
//

h1 a{ color: $prime-color;}
h2{ font-size: 20px; font-weight: normal;}

//
// BODY 'HEADER', or anything before #frame and dynamic content
// ------------------------------------------------------------

#top{
  position: relative;
  width: 100%;
  height: 75px;
  z-index: 200; // for logo in banner
  width: 100%;
  top: 0px;
}

#logo-wrapper a{
  color:transparent;
}
#logo-wrapper {
  width: $logo-width;
  z-index: 2000;
  position: relative;
}

#slide-menu{height:100%;}
#slide-menu-wrapper .locales{
  padding-top:8px;
  clear:both;
}

#slide-menu-window.open{
  width:400px;
  overflow:visible;
}
#slide-menu-window{
  position:absolute;
  top:0; right:0;
  width:0;
  overflow:hidden;
  height:100%;
}
.open #slide-menu-wrapper{
  right:0px;
}

#slide-menu-wrapper{
  /* There is a bug in this transition for iPads so it is disabled in JS */
  transition: right 0.5s linear 0s;
  box-shadow: 0 0 80px black;
  background-color: #333;
  color: $prime-color;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  right: -412px;
  top: 0;
  min-width: 300px;
  z-index: 2000;
  padding:0px 12px;
}
#slide-menu-wrapper .wrapper .text{
  padding:6px 0;
  border-bottom: 1px solid #dcdcdc;
}
#slide-menu-wrapper .wrapper{
  margin-top:12px;
  text-align:right;
}
#slide-menu-wrapper a{ color: #e0e0e0; }
#slide-menu-wrapper a:hover{ color: white; }
#slide-menu-wrapper .wrapper a{
  color: #dcdcdc;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
}
#slide-menu-wrapper .sub-menu{
  margin: 14px 0;
  border: none;
  text-align:right;
  z-index:1;
}
#slide-menu-wrapper .sub-menu a{
  text-transform:none;
  text-shadow:none;
  display:block;
  padding: 4px 0;
}
#slide-menu-wrapper .bar-menu{
  margin:0 -12px;
  border-top: 1px solid #a0a0a0;
  width:100%;
}
#close-sym{
  margin-right:-4px;
  font-size:46px;
  color:#dcdcdc;
}

#menu-wrapper{
  border-top: 1ps solid $prime-color;
  background-color:#333;
  color: white;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.8) inset;
  width:400px;
  max-width:100%;
  position: absolute;
  z-index: 1000;
  right: -400px;
  top:0;
  overflow:hidden;
  min-height:100%;
  -moz-transition: right 0.5s linear;
  -webkit-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

#logo{
  width: $logo-width; height: $logo-height;
  background: transparent url(/assets/#{$logo}) 0 0 no-repeat;
  color: transparent;
  margin-left: 12px;
}

#menu-main .wrapper .text{text-align: right;}
#menu-main .wrapper:hover{text-decoration: none;}
#menu-main .col{margin-left: 12px; width: auto;}

#menu{
  z-index: 1000;
  margin: 0 auto; font-size: 22px;
  font-weight: bold;
  right: 2%;
  margin-top:74px;
  // text-transform: uppercase;
}

#menu a{
  margin: auto 12px;
  line-height: 30px;
  padding: 0px 8px 4px;
  color:$prime-color;
}
#menu a.text{
  margin-top: 18px;
  font-weight: bold;
  border-bottom:1px solid $prime-color;
}

#menu .col{
  text-align:right;
}


#menu .sub-menu a{
  display:block;
  font-weight: normal;
  font-size:20px;
  text-align:right;
}
#menu-button, #menu-close{
  text-align:center;
  color: $prime-color; font-weight: normal;
  cursor: pointer; position: relative;
  z-index: 500;
  font-size: 14px;
  background-color: #333;
  border-radius: 4px;
  width:40px;
  float:right;
}
#menu-button{
  padding: 4px;
  margin: 6px 12px 0px 0px;
}
#menu-button:hover{
  color:white;
}

#menu-button:hover .menu-line{
  background-color:white;
}
#close-sym{
  text-align: right;
  font-size: 48px;
  font-weight:light;
}

#menu-button .menu-line{
  height: 4px; width: 80%;
  background-color: $prime-color;
  border-radius: 2px; margin: 6px auto;
}

#menu .wrapper .text{
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
}

#menu .wrapper .icon {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;
}

#slide-menu .wrapper:hover a.text::before, #slide-menu .sub-menu a:hover::before{
  content: '» ';
}

.bar-menu{
  position:absolute;
  z-index: 1000;
  bottom:0px;
  margin: 0;
  padding: 0 0 12px;
  border-top: 1px solid $prime-color;
}

.bar-menu ul{margin:0;}

.bar-menu li{
  display:block;
  text-align: right;
  font-size: 14px;
  list-style: outside none none;
  padding-right:12px;
}

.locale img{
  margin-top: -6px;
}

//
// Dynamic content
// -----------------
#frame{margin-top: 64px;}

/* Home page entry images are slightly smaller */
// #semi-static-home-page .entry img{
//   max-width: 241px;
// }

#search-bar{ margin-top: 0px; margin-bottom: 10px; }

#container{
  margin: 0px auto;
  max-width: 1400px;
  background-color: transparent;
}

#search-wrapper{
  padding: 8px 0;
  text-align: right;
}


#content, .content{
  max-width: 800px;
  padding: 0 12px;
  overflow: visible;
  margin: 0 auto 24px;
  width: 80%;
}
#container:after{ content: ''; display: table; clear: both; }

//
// FOOTER
//

#footer{width: 100%; color: white; position: fixed; bottom: 0px;}
#footer a{color: white;}
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  color: white;
  position: relative;
  top: 50%; 
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; }
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{color: white; font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{color: white; font-weight: normal;}
#footer .inner{padding: 0 4%;}

#bar-in-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}

.panel{
  padding: 2px 8px 0px;
  background-color: white;
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 0 0 2px 2px;
}

.doc-inner:after, .panel:after {
    clear: both;
    content: "";
    display: table;
}


/* TODO: News not shown on home page for this theme, so move to site.css */
.index.panel, .news .panel{
  border-bottom: 1px solid #e0e0e0;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}

.panel.feint{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.panel.wobble, .panel.flat{
  box-shadow: none; border: 0px;
}

.panel.collapse{
  margin-bottom: 1px;
}

.social, .panel.highlight{
  background-color: $secondary-color; color: white;
}

.panel:last-child{
  border-bottom: none;
}

.gallery, .news, .social{
  margin-bottom: 10px;
  padding: 6px 11px;
  border-radius: 2px;
}
.social{
  padding: 2px 0px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  height: 30px;
}

.social-inner{
  display: inline-block;
}
.gallery h2 a, .gallery h2, .news h2 a, .news h2{ border-bottom: 1px solid #808080; }
.list h1, .panel.list h2{ color: $prime-color; border-bottom: 1px solid #808080; text-align: center;}

.social a{
  color: white;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; margin-right: 8px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}
#twitter{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px 5px no-repeat;}
#xing{float: right; padding: 0px 8px 3px 27px; background: transparent url(#{$vert-sprites}) 0px -188px no-repeat;}
#facebook{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -55px no-repeat;}
#youtube{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -25px no-repeat;}
#linkedin{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -271px no-repeat;}

.social:after, .panel:after{ content: ''; display: table; clear: both; }

h1{font-size: 24px; font-weight: normal;}
h1{ margin: 6px 0px 8px; color: $prime-color}
h2, h3{ margin: 6px 0px 6px; color: $secondary-color;  font-weight: normal;}
h2 a, h3 a{color: $secondary-color;}
.panel h2{
  text-align: left;
  color: $prime-color;
}
.panel.photo {
    text-align: center;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}


.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
}
.searchform input[type='text'] {
    font: 14px Arial,Helvetica,sans-serif;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}

.html{ padding: 0; margin-bottom: 8px; }
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.link{text-align: center;}
a .link, .link a, .more a{
  background: transparent url(#{$vert-sprites}) right -260px no-repeat;
  background-size: 28px $vert-sprites-height;
  padding: 4px 36px 1px 12px;
  margin: 2px 0px 6px;
}
.feint.link, .feint .more a, .flat .more a, .news .more a{
  background: transparent url(#{$vert-sprites}) right -162px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}


/* Custom menu icons are not used, just the text in the wrapper */

.wrapper .text{border-bottom:2px solid transparent;}
#selected.wrapper .text{border-color: $secondary-color;}
// #menu:hover .wrapper .text{border-color: transparent;}
// #menu .wrapper:hover .text{border-color: $prime-color !important;}

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

//
// Start of responsive design
//

@media only screen and (max-width: 1400px) {
  #bar{ border-radius: 0px; -webkit-border-radius: 0px;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ margin-left: 0; }
.entry .floater{ margin-left: 1.6%; position: relative; z-index: 10;}

@media only screen and (max-width: 760px) {
  // For smaller portrait the % margin at the top is too
  // small so we fine tune here by forcing a reasonable
  // margin between the image amd the top of the
  // panel
  .floater img{margin-top: 6px !important; }

  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 750px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
}

@media only screen and (max-width: 820px) {
  /* No Firefox support for background-position-x, but applies only usually to mobile any */
  #selected.wrapper .icon.sprite{background-position-x: left;}
}

/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}

  /* Google page mobile test is gonna punish you if the footer links are too close together */
  #footer li{margin-bottom: 8px;}
}

@media only screen and (min-width: 760px) {
  .wrapping{ float: none !important; width: auto !important; }
  .floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}

