-# For the menu-right theme we have a psuedo banner. It's not full screeen with
-# but rather is placed as a large image above the entry
- if @entry.banner
  #overlay-2
    - unless @entry.banner.tag_line.blank?
      #tag-wrapper
        #tagline
          = @entry.banner.tag_line
  #banner
    #banner-frame
      .bg
        = image_tag @entry.banner.img_url_for_theme(:entry)

= render :partial => 'semi_static/entries/show_body'
