// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes wobble {
0% { transform: rotate(0deg); }
1% { transform: rotate(2deg); }
3% { transform: rotate(-1deg); }
5% { transform: rotate(0deg); }
}
@-webkit-keyframes wobble {
0% { -webkit-transform: rotate(0deg); }
1% { -webkit-transform: rotate(2deg); }
3% { -webkit-transform: rotate(-1deg); }
5% { -webkit-transform: rotate(0deg); }
}
.wobble .img img:hover{
animation: wobble 16s infinite;
-webkit-animation-name: wobble;
-webkit-animation-duration: 16s;
}

html { overflow-y: scroll; }
body{
  background-color: white; 
  margin: 0px;
  font:16px 'Raleway', 'Ubuntu', Arial, Verdana, Helvetica, sans-serif;
  color: #181828;
  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQIHWP48+fP9+/f////zwCkgBwQC4ghAACODRqkCkEF0QAAAABJRU5ErkJggg==)
    repeat;
  // padding-top: 73px;
}

#mini-logo{position: relative; z-index: 5000;}
#container{background-color: white !important; box-shadow: 0 0 2px #c8c8c8;}

/* Home page entry images are slightly smaller */
#semi-static-home-page .entry img{
  max-width: 241px;
}

a{text-decoration: none; color: black;}
fieldset{
  border: none;
}
h2{ font-size: 20px;}
#search-bar{ margin-top: 0px; margin-bottom: 10px; }
#top .inner, #overlay-inner, #search-bar-inner, #container, #top-inner, #footer-inner{
  max-width: 1024px; margin: 0px auto;
  max-width: 1400px;
  background-color: transparent;
}

#toTop{ display: none; }

#top .inner, #overlay-inner, #search-bar-inner{
  position: relative;
}
#search-wrapper{
  padding: 4px 0px 4px 4px;
  text-align: center;
}

#menu-button, #menu-close{
  display: none;
  float: right;
  color: $prime-color; font-weight: bold;
  padding: 3px 2px 4px 32px;
  margin: 2px 12px 0px 0px;
  cursor: pointer;
  position: relative;
  z-index: 500;
}

#menu-button{
  // Create bigger click area
  padding-bottom: 34px;
}

#menu-button .menu-line{
  height: 8px;
  width: 80%;
  background-color: $prime-color;
  border-radius: 2px;
  margin: 2px;
  
}

#bar-in-menu{
  margin-top: 22px;
  border-top: dashed 1px $prime-color;
  display: none;
}

#content, .content{
  max-width: 1024px;
  margin: 0 auto;
}
#container:after{ content: ''; display: table; clear: both; }

#footer{clear: both; border-top: 1px solid #d8d8d8; min-height: 50px; background-color: #f5f5f5;}
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; }
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{color: $prime-color; font-weight: normal;}
#footer .inner{padding: 0 4%;}

#bar-in-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}
#tagline{
  width: 90%; text-align: center; margin: 0px auto; color: white; text-shadow: 1px 2px 5px $prime-color; font-size: 30px; font-weight: bold;
  // If you want to play with CSS3 viewport widths:
  // font-size: 2.3vw !important;
  animation: grower 2s linear;
  -webkit-animation-name: grower;
  -webkit-animation-duration: 1s;
}

.panel{
  padding: 2px 8px 0px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
}

.doc:after, .panel:after {
    clear: both;
    content: "";
    display: table;
}


/* TODO: News not shown on home page for this theme, so move to site.css */
.index.panel, .news .panel{
  background-color: $prime-color;
  color: white;
  border-bottom: 1px dashed white;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}


.panel.feint{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.panel.wobble, .panel.flat{
  box-shadow: none;
  border: 0px;
}
.panel.collapse{
  margin-bottom: 1px;
}
.panel.highlight{
  background-color: $prime-color;
  color: white;
}

.highlight h2 a, .news h3 a, .news h3{
  color: white;
}
.panel:last-child{
  border-bottom: none;
}
.gallery, .news, .social{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #171717;
  background-color: $prime-color;
  color: white;
  margin-bottom: 10px;
  padding: 6px 11px;
  border-radius: 2px;
}
.social{
  padding: 6px 0px 4px;
  line-height: 30px;
  width: 100%;
}
.gallery h2 a, .gallery h2, .news h2 a, .news h2{ color: white; border-bottom: 1px solid white; }
.list h1, .panel.list h2{ color: $prime-color; border-bottom: 1px solid $prime-color; text-align: center;}

.social a{
  color: white;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; margin-right: 8px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}
#twitter{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px 5px no-repeat;}
#xing{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -188px no-repeat;}
#facebook{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -55px no-repeat;}
#youtube{float: right; padding: 0px 8px 3px 28px; background: transparent url(#{$vert-sprites}) 0px -25px no-repeat;}
#bar-in-menu .lady, #top .lady{float: right; display: block; padding: 4px 8px 0px 28px; background: transparent url(#{$vert-sprites}) 0px -109px no-repeat;}
#bar-in-menu .contact, #top .contact{float: right; display: block; padding: 4px 8px 0px 34px; background: transparent url(#{$vert-sprites}) 0px -84px no-repeat;}
#bar-in-menu .search, #top .search{float: right; display: block; padding: 4px 8px 4px 28px; background: transparent url(#{$vert-sprites}) 0px -216px no-repeat;}
#bar-in-menu .icon, #top .icon{ background-size: 28px $vert-sprites-height; }

.social, .panel:after{ content: ''; display: table; clear: both; }

h1{font-size: 24px; font-weight: normal;}
h1{ margin: 6px 0px 8px; color: $prime-color}
h2, h3{ margin: 6px 0px 6px; color: $secondary-color}
h2 a, h3 a{color: $secondary-color;}
.panel h2{
  text-align: left;
  color: $prime-color;
}
.panel.photo {
    text-align: center;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

#logo-wrapper {
    background: none repeat scroll 0 0 white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 2px 2px black;
    margin-left: 12px;
    padding: 8px;
    top: 0;
    width: $logo-width;
    z-index: 2000;
    position: relative;
}

#menu-wrapper{
  z-index: 1000;
  top: -64px;
  right: 0px;
  position: relative;
}

.bar_menu{
  position: relative;
  top: -80px;
  background-color: $secondary-color;
  height: 30px;
  float: right;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 12px;
  padding-left: 12px;
  box-shadow: 0 0 2px #686868;
  font-size: 14px;
}

#mini-logo{
  width: $logo-top-width; height: $logo-top-height;
  background: transparent url(/assets/#{$logo-top}) 0 0 no-repeat;
}


#top{
  height: 75px;
  background: transparent url(/assets/white-60.png) 0 0 repeat;
  z-index: 200; // for logo in banner
  box-shadow: 0 0 7px #7c7c7c;
  width: 100%;
  position: absolute;
  top: 0px;
}
#top ul{
  margin: 0; padding: 0;
}
#bar-in-menu li, #top-inner li{
  float: right;
  font-size: 16px;
  padding: 4px 24px 6px 24px;
}
#top-inner{height: 30px;}
#top-inner li.locale{padding-left: 12px;}
#bar-in-menu li a, #top-inner li a{
  color: white;
}
#bar-in-menu li{
  font-size: 16px;
}
#menu #bar-in-menu a{
  text-transform: none;
}
.home{ padding-left: 52px !important; background: transparent url(/assets/home.png) 21px 2px no-repeat; background-size: auto !important;}

#menu-main .wrapper:hover a{
  text-decoration: underline;
}

#menu{
  z-index: 500;
  width: 98%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  padding-right: 12px;
}

#menu a{
  color: #282828;
  font-weight: normal;
  float: right;
  margin-left: 12px;
}

#menu .col{
  text-align:center;
  margin-top: 8px; margin-bottom: 6px;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
    width: 202px;
}
.searchform input[type='text'] {
    font: 16px Arial,Helvetica,sans-serif;
    width: 260px;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}
.html{ padding: 0; margin-bottom: 8px; }
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.link{text-align: center;}
.link a, .more a{
  background: transparent url(#{$vert-sprites}) right -138px no-repeat;
  background-size: 28px $vert-sprites-height;
  padding: 4px 36px 1px 12px;
  margin: 2px 0px 6px;
}
.feint .more a, .flat .more a, .news .more a{
  background: transparent url(#{$vert-sprites}) right -162px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}

/* Keep menu text inside the box */
#menu .wrapper .text{
  display: blocK;
  overflow: hidden;
  height: 24px;
}

#menu .wrapper .icon{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
  margin-top: -16px;
  left: 0px;
}

#menu .wrapper:hover .icon.sprite,
#menu .wrapper:hover .icon img{
  animation: wobble 16s infinite;
  -webkit-animation-name: wobble;
  -webkit-animation-duration: 16s;
}

#menu .wrapper a:hover{
  color: black;
}

.button{
  float: right;
  background: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 6px;
}
.button a{
  font-weight: lighter !important;
}

.locale img{
  margin-top: -6px;
}

/* Custom menu icons */

.icon .custom{
  position: relative !important;
  height: 40px;
  // width: 90% !important;
  width: 90%;
  border-top: 4px solid $prime-color;
  border-bottom: 4px solid $prime-color;
  border-radius: 2px;
  margin: -3px auto !important;
  opacity: 0.0;
  display: block;
  top: -18px;
}

#selected .icon .custom{opacity: 0.5 !important;}

#menu:hover .wrapper .icon .custom{display: none; opacity: 0.0;}

#menu .wrapper:hover .icon .custom{ opacity: 1.0 !important; display: block !important; }

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

/* Remove inner shadow when width greater than 1500px */
@media only screen and (max-width: 1500px) {
  #banner-frame{box-shadow: none;};
}

/* Search input overflows already at less than 1020px */
@media only screen and (max-width: 1020px) {
.searchform input[type='text'] { width: 74%;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ margin-left: 0; }
.entry .floater{ margin-left: 1.6%; position: relative; z-index: 10;}

@media only screen and (max-width: 760px) {
  // For smaller portrait the % margin at the top is too
  // small so we fine tune here by forcing a reasonable
  // margin between the image amd the top of the
  // panel
  .floater img{margin-top: 6px !important; }

  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 750px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
}

@media only screen and (max-width: 820px) {
  // Change menu to hidden pop-up on click and fixed position
  #menu, #top-inner ul{display: none;}
  #menu{
    padding-top: 8px; padding-bottom: 12px;
    width: 100%;
    position: fixed; background-color: #f8f8f8; top: 0px;
    background-image: none;
    font-size: 26px;
  }
  #menu .col{ width: 100%; }
  #menu-loading-wrapper{display: block;}
  #menu a{float: none; text-align: right; padding: 4px 14px;}

  #menu-main .wrapper:nth-child(2n){background-color: #f0f0f0;}

  // Hide .bar_menu
  .bar_menu{height: 0px;}

  // Need to radically change the hover icons now menu has collapsed
  .icon .custom{
    height: 0px;
    border-width: 2px;
    margin: 3px auto !important;
    top: 16px;
    width: 30%;
  }
  #menu .wrapper .text{height: auto;}

  .wrapper:not(#selected) .icon.sprite{background-image: none;}

  /* No Firefox support for background-position-x, but applies only usually to mobile any */
  #selected.wrapper .icon.sprite{background-position-x: left;}


  #top{position: fixed; width: 100%;}
  #menu-button{display: block; width: 50px;}
}

@media only screen and (max-width: 1420px) {
  #frame{margin-top: 55px !important;}
}
/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}

  /* Google page mobile test is gonna punish you if the footer links are too close together */
  #footer li{margin-bottom: 8px;}
}

@media only screen and (min-width: 760px) {
  .wrapping{ float: none !important; width: auto !important; }
  .floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}

