#semi_static_entry .bg{
  margin: 0 auto;
  max-width: 900px;
}

/* WHY ??????
@media only screen and (min-width: 900px) {
  #semi_static_entry .floater{
    display: none;
  }
}
*/ 


.wrapping .html{
  max-width: none;
}

.side-bar{
  display: none;
}

#semi_static_tag .col.span_2_of_3,
#semi_static_entry .col.span_2_of_3{
  width: 100%;
}

#semi_static_tag .img img{
  position: relative;
  z-index: 10;
}

#semi_static_tag .img img, #semi_static_tag .img{
  max-width: none;
}

#semi_static_tag .panel{
  margin-bottom: 70px;
}

body{
  padding-top: 110px;
}

.mid.wide {
    max-width: 820px;
}
.mid {
    background: url("/assets/white-60.png") repeat scroll 0 0 transparent;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0 auto 34px;
    max-width: 560px;
    padding: 8px;
    width: 80%;
}

.mid input, .mid textarea {
    width: 96%;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
