var d = document.getElementById('dialog');
d.className = d.className += ' squeeze';
d.setAttribute("style", "display:block;");
!= "d.innerHTML=('#{escape_javascript(render :partial => 'semi_static/contacts/check_your_email')}');"
