// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes fader {
  0%   { opacity: 0.0; }
  31%   { opacity: 0.0; }
  34%   { opacity: 1.0; }
  67%  { opacity: 1.0; }
  69%  { opacity: 0.0; }
  100%  { opacity: 0.0; }
}

@-webkit-keyframes fader {
  0%   { opacity: 0.0; }
  31%   { opacity: 0.0; }
  34%   { opacity: 1.0; }
  67%  { opacity: 1.0; }
  69%  { opacity: 0.0; }
  100%  { opacity: 0.0; }
}

@-webkit-keyframes grower {
  0%   { margin-right: -1000px; }
  100% { margin-right: 0px; }
}

@-webkit-keyframes mobile-grower {
  0%   { font-size: 1px; }
  100% { font-size: 22px; }
}

@keyframes grower {
  0%   { margin-right: -1000px; }
  100% { margin-right: 0px; }
}

@keyframes mobile-grower {
  0%   { font-size: 1px; }
  100% { font-size: 22px; }
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  1% { transform: rotate(5deg); }
  3% { transform: rotate(-5deg); }
  5% { transform: rotate(0deg); }
}

@-webkit-keyframes wobble {
  0% { -webkit-transform: rotate(0deg); }
  1% { -webkit-transform: rotate(5deg); }
  3% { -webkit-transform: rotate(-5deg); }
  5% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes loading {
  0%   { width: 0%;}
  100%   { width: 100%;}
}

@keyframes loading {
  0%   { width: 0%;}
  100%   { width: 100%;}
}

#banner-frame{
  overflow: hidden;
}

#banner-loading{
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  animation: loading 10s linear infinite;
  animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  -webkit-animation-name: loading;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  z-index: 2;
  background-color: white;
}

html { overflow-y: scroll; }
body{
  background-color: white; 
  margin: 0px;
  // font:16px "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  color: #494949;
}

a{text-decoration: none; color: black;}
fieldset{
  border: none;
}
h2{ font-size: 20px;}
#search-bar{ margin-top: 0px;}
#top .inner, #overlay-inner, #search-bar-inner, #container, #top-inner, #footer-inner{
  max-width: 1024px; margin: 0px auto;
  background-color: transparent;
}
#top-inner{
  position:relative;
}
#toTop{ display: none; }
#overlay{
  position: relative;
  height: 0px;
}
#frame{
  background: rgba(221,230,237,1);
  background: -moz-linear-gradient(top, rgba(221,230,237,1) 0%, rgba(240,244,248,1) 7%, rgba(253,255,255,1) 16%, rgba(253,254,254,1) 65%, rgba(228,234,241,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,230,237,1)), color-stop(7%, rgba(240,244,248,1)), color-stop(16%, rgba(253,255,255,1)), color-stop(65%, rgba(253,254,254,1)), color-stop(100%, rgba(228,234,241,1)));
  background: -webkit-linear-gradient(top, rgba(221,230,237,1) 0%, rgba(240,244,248,1) 7%, rgba(253,255,255,1) 16%, rgba(253,254,254,1) 65%, rgba(228,234,241,1) 100%);
  background: -o-linear-gradient(top, rgba(221,230,237,1) 0%, rgba(240,244,248,1) 7%, rgba(253,255,255,1) 16%, rgba(253,254,254,1) 65%, rgba(228,234,241,1) 100%);
  background: -ms-linear-gradient(top, rgba(221,230,237,1) 0%, rgba(240,244,248,1) 7%, rgba(253,255,255,1) 16%, rgba(253,254,254,1) 65%, rgba(228,234,241,1) 100%);
  background: linear-gradient(to bottom, rgba(221,230,237,1) 0%, rgba(240,244,248,1) 7%, rgba(253,255,255,1) 16%, rgba(253,254,254,1) 65%, rgba(228,234,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde6ed', endColorstr='#e4eaf1', GradientType=0 );

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #bccfdb;
  padding: 0px 0 8px; 
}
#top .inner, #overlay-inner, #search-bar-inner{
  position: relative;
}
#search-wrapper{
  background-color: white; 
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  padding: 4px 0px 4px 4px;
  text-align: center;
}

#menu-button, #menu-close{
  display: none;
  float: right;
  color: $contrast-color; font-weight: bold;
  padding: 3px 2px 4px 32px;
  margin: 2px 12px 0px 0px;
  background: transparent url(/assets/vert-sprites-light.png) left -244px no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 500;
}

#menu-button{
  // Create bigger click area
  padding-bottom: 34px;
}

#bar-in-menu{
  margin-top: 22px;
  border-top: dashed 1px $prime-color;
  display: none;
}

#content{
  margin: 6px;
}
#container:after{ content: ''; display: table; clear: both; }

//
// Banner animations
//
// Animation deleay and initial opacity is set to cause the banner images display in
// css div order #banner2, #banner0, #banner1, #banner2, banner0, etc.. Putting common
// css between these divs into the #banner .bg class causes error on some browsers so
// leave them wheer they are for now
//
// Webkit currently has some bugs/oditties that mean the the 0% of the animation
// is applied even if there is a delay. This means that we need fallback background
// which is given by #bannerBg. This is also useful as the smaller mobile banner inside
// the media query later
//

#banner{
  position: relative;
  max-width: 1012px;
  margin: 0 auto 12px;
  z-index: 1;
  background-color: white;
  top: 8px;
  // min-height: 250px;
}

#banner0{
  background:transparent url(/assets/banners/#{$banner-b}) center 0px no-repeat; z-index: -10;
  animation: fader 30s linear infinite; animation-delay: 0s;
  animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -webkit-animation-name: fader;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}

#banner1{
  background:transparent url(/assets/banners/#{$banner-c}) center 0px no-repeat; z-index: -20;
  animation: fader 30s linear infinite; animation-delay: 10s;
  animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -webkit-animation-name: fader;
  -webkit-animation-delay: 10s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}

#banner4{
  background:transparent url(/assets/banners/#{$banner-a}) center 0px no-repeat; z-index: -50;
  animation: fader 30s linear infinite; animation-delay: 20s;
  animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -webkit-animation-name: fader;
  -webkit-animation-delay: 20s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  opacity: 1.0;
}

#banner0, #banner1, #banner4, #bannerBg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#bannerBg{
  background-image: url(/assets/banners/#{$banner-a});
  position: relative;
  z-index: -50;
  min-height: 250px;
}

#banner .bg{
  width: 100%;
}

#banner .bg img, #bannerBg img{
  width: 100%; visibility: hidden;
  border: 0; margin: 0; padding: 0;
  // Weirdness. For some reason the fake image we use to cause the backgrounds to be
  // responsive has a 4px margin at the top, making the backgrounds then 4px larger
  // than they should be at full screen width. This is the case for Firefox and webkit
  // so there must be an error in the CSS. But where? Until we find this, just subtract
  // with a negative margin:
  margin-top: -4px;
}

#banner .bg{
  position: absolute;
  top: 0px;
  background-position: center 0px;
}
.bg{ z-index: -1; }

#footer{
  background: rgba(228,234,241,1);
  background: -moz-linear-gradient(top, rgba(228,234,241,1) 0%, rgba(253,254,254,1) 35%, rgba(253,255,255,1) 90%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,234,241,1)), color-stop(35%, rgba(253,254,254,1)), color-stop(90%, rgba(253,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(228,234,241,1) 0%, rgba(253,254,254,1) 35%, rgba(253,255,255,1) 90%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(228,234,241,1) 0%, rgba(253,254,254,1) 35%, rgba(253,255,255,1) 90%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(228,234,241,1) 0%, rgba(253,254,254,1) 35%, rgba(253,255,255,1) 90%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(228,234,241,1) 0%, rgba(253,254,254,1) 35%, rgba(253,255,255,1) 90%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4eaf1', endColorstr='#ffffff', GradientType=0 );

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px 0;
  clear: both; min-height: 50px;
}
#footer img{float: right; margin: -9px 0 0 8px;}
#footer .credits{float: left; width: 20%; text-align: center;}
#footer .credits, #footer .copy{
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#footer .notices{ clear: both; font-size: 12px; margin-top: 8px; }
#footer .copy{width: 40%; float: left; margin: 0px;}
#footer .copy p{font-size: 12px; margin: 0; padding: 0 0 0 5px;}
#footer .stamps{float: left; width: 40%; margin-top: -15px;}
#footer h3{color: $prime-color;}
#footer .inner{padding: 0 2%;}

#bar-in-menu ul, #top ul, #footer ul{list-style: none outside none; padding-left: 0px;}

#footer .col:last-child h3, #footer .col:last-child li {
    text-align: right;
}
#tagline{
  max-width: 1012px; width: 98%; text-align: right; margin: 0px auto; color: $prime-color; font-size: 30px; font-weight: lighter;
  // If you want to play with CSS3 viewport widths:
  // font-size: 2.3vw !important;
  animation: grower 1s linear;
  -webkit-animation-name: grower;
  -webkit-animation-duration: 1s;
}

.panel{
  padding: 2px 8px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
}

.doc:after, .panel:after {
    clear: both;
    content: "";
    display: table;
}
.index.panel, .news .panel{
  border-bottom: 1px dashed $prime-color;
  padding: 2px 0px 0px;
  box-shadow: none;
  min-height: 0;
}

/* Classes from site helper */
.panel.hard{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}

.panel:last-child.dotted, .panel.dotted{
  border: 1px dashed #c1c1c1;
  box-shadow: none;
}


.panel.feint{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.panel.flat{
  box-shadow: none;
  border: 0px;
}
.panel.collapse{
  margin-bottom: 1px;
}
.panel.highlight{
  background-color: $prime-color;
  color: white;
}

.highlight h2 a, .news h3 a, .news h3{
  color: #494949;
  color: $prime-color;
}
.panel:last-child{
  border-bottom: none;
}
.gallery, .news, .social{
  margin-bottom: 10px;
  padding: 6px 11px;
}
.social{
  padding: 6px 0px 4px;
  line-height: 30px;
  width: 100%;
}
.gallery h2 a, .gallery h2, .news h2 a, .news h2{ color: $prime-color; border-bottom: 1px solid $prime-color; }
.list h1{ color: $prime-color; border-bottom: 1px solid $prime-color; }

.social a{
  color: white;
}

// Sprites

#ddock{float: right;width: 97px; margin-top: 0px; height: 32px; background:transparent url(/assets/hoz-sprites.png) 0 center no-repeat;}
#html5{float: right;margin: -4px 5px 0 0px; width: 25px; height: 33px; background:transparent url(/assets/hoz-sprites.png) -97px center no-repeat;}
#twitter{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/vert-sprites-light.png) 0px 5px no-repeat;}
#xing{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/vert-sprites-light.png) 0px -188px no-repeat;}
#facebook{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/vert-sprites-light.png) 0px -55px no-repeat;}
#youtube{float: right; padding: 0px 8px 3px 28px; background: transparent url(/assets/vert-sprites-light.png) 0px -25px no-repeat;}
#bar-in-menu .lady, #top .lady{float: right; display: block; padding: 4px 8px 0px 28px; background: transparent url(/assets/vert-sprites-light.png) 0px -109px no-repeat;}
#bar-in-menu .contact, #top .contact{float: right; display: block; padding: 4px 8px 0px 34px; background: transparent url(/assets/vert-sprites-light.png) 0px -84px no-repeat;}

#bar-in-menu .icon, #top .icon{ background-size: 28px 275px; }
.bar_menu{height: 16px; z-index: 100; position: absolute; z-index: 300; right: 0px;}

.icon.sprite{height: 100px; width: 100px; background: url(/system/icons/menu-sprites.png) center 0px no-repeat;}
.icon.sprite.mini{height: 45px; width: 50px; background-size: 50px 250px;}
#sprite_1{background-position: center 0px;}
#sprite_2{background-position: center -100px;}
#sprite_2.mini{background-position: center -50px;}
#sprite_3{background-position: center -200px;}
#sprite_3.mini{background-position: center -100px;}
#sprite_4{background-position: center -300px;}
#sprite_4.mini{background-position: center -150px;}
#sprite_5{background-position: center -400px;}
#sprite_5.mini{background-position: center -200px;}
.icon.sprite + h2{padding-top: 10px;}
.icon + .html h2{padding-top: 6px;}

.social, .panel:after{ content: ''; display: table; clear: both; }

// .inner{ padding: 3%; }

h1{font-size: 24px;}
h1, h2, h3{
  margin: 6px 0px 6px; color: $prime-color;
  font-weight: lighter;
}
h2 a, h3 a{color: $prime-color;}
h1 a:hover, h2 a:hover, h3 a:hover{ text-decoration: underline;}
.panel h2{
  text-align: left;
  color: $prime-color;
}
.panel.photo {
    text-align: center;
}
.caption{
  font-size: 14px;
}
.news .image{
  text-align: center;
}
.news .image img, .index .photo img, .panel.photo img {
    max-width: 100%;
}
.news .image img, .index .photo img, .panel img.logo, .panel.photo img {
    border: 1px solid white;
    box-shadow: 0 0 2px #fff;
}

#tag-wrapper, #menu-wrapper, #logo-wrapper{
  width: 100%;
  margin: 0px auto;
  position: absolute;
}

#menu-wrapper{
  z-index: 1000;
  top: 85px;
}

#logo-wrapper{
  top: 3px;
  z-index: 2000;
  width: $logo-top-width;
}

#tag-wrapper{
  top: 43px;
  overflow: hidden;
}

#logo{
  background: transparent url(/assets/#{$logo-top}) left center no-repeat;
  height: $logo-top-height;
}

#mini-logo{
  width: $logo-top-width; height: $logo-top-height;
  background: transparent url(/assets/#{$logo-top}) 0 0 no-repeat;
  position: absolute;
  top: 3px;
  left: 0px;
}


#top{
  height: 120px;
  z-index: 200; // for logo in banner

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(236,240,244,1) 93%, rgba(221,230,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(255,255,255,1)), color-stop(93%, rgba(236,240,244,1)), color-stop(100%, rgba(221,230,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(236,240,244,1) 93%, rgba(221,230,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(236,240,244,1) 93%, rgba(221,230,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(236,240,244,1) 93%, rgba(221,230,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(236,240,244,1) 93%, rgba(221,230,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dde6ed', GradientType=0 );

  border-bottom: 1px solid #bccfdb;
}

#top ul{
  margin: 0; padding: 0;
}
#bar-in-menu li, #top-inner li{
  float: right;
  font-size: 16px;
  font-weight: lighter;
  padding: 4px 24px 6px 24px;
}
#bar-in-menu li a, #top-inner li a{
  font-weight: lighter;
  color: #494949;
  font-size: 16px;
  // font: 18px Arial,Verdana,Helvetica,sans-serif;
}
#bar-in-menu li{
  font-size: 16px;
}
#menu #bar-in-menu a{
  text-transform: none;
}
.home{ padding-left: 52px !important; background: transparent url(/assets/home.png) 21px 2px no-repeat; background-size: auto !important;}

#menu{
  z-index: 500;
  width: 98%;
  margin: 0 auto;
  font-size: 20px;
}

#menu a{
  color: #494949;
  font-size: 18px;
  /* text-shadow: white -1px 1px 0px, rgba(98, 0, 105, 0.4) -2px 2px 0px; */
  text-shadow: white 0px 1px 0px;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: normal;
  text-transform: uppercase;
}

#menu .col{
  text-align:center;
  margin-top: 8px; margin-bottom: 6px;
}

// Right float menu
#menu-main .col{
  width: auto; float: right; margin-left: 3%;
}

.searchform {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 8px 6px 6px 8px;
    width: 202px;
}
.searchform input[type='text'] {
    font: 16px "Open Sans", Arial, Verdana, Helvetica, sans-serif;
    width: 260px;
}
.searchbutton{
  vertical-align: bottom;
}

#notice{
  text-align: center; background-color: white; border: 1px solid #808080; border-radius: 4px;
  width: 88%; margin: 0 auto; padding: 6px 5%;
}
.html{ padding: 0; margin-bottom: 8px; }
.link, .more{
  clear: both;
  text-align: right;
  padding-bottom: 8px;
}
.link{text-align: center;}
.link a, .more a{
  background: transparent url(/assets/vert-sprites-light.png) right -140px no-repeat;
  background-size: 28px 275px;
  padding: 4px 36px 1px 12px;
  margin: 2px 0px 6px;
}
.feint .more a, .flat .more a, .news .more a{
  background: transparent url(/assets/vert-sprites-light.png) right -164px no-repeat;
  color: #d8d8d8;
}

.feint .more a, .flat .more a{
  color: #b0b0b0;
}
.panel .icon{
  float: left;
}

#menu .wrapper{
  position: relative;
  z-index: 10;
}

/* Keep menu text inside the box */
#menu .wrapper .text{
  display: block;
  overflow: hidden;
}

#menu .wrapper .icon{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
  margin-top: -16px;
  left: 0px;
}

#menu .wrapper a:hover{
  text-decoration: underline;
}
#menu #selected a, #menu .wrapper a:hover{
  color: $prime-color;
}

.button{
  float: right;
  background: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 6px;
}
.button a{
  font-weight: lighter !important;
}

.locale img{
  margin-top: -6px;
}

/* Custom menu icons */

.icon .custom{
  position: relative !important;
  height: 40px;
  // width: 90% !important;
  width: 90%;
  margin: -3px auto !important;
  opacity: 0.0;
  display: block;
  top: -18px;
}

#selected .icon .custom{opacity: 0.5 !important;}

#menu:hover .wrapper .icon .custom{display: none; opacity: 0.0;}

#menu .wrapper:hover .icon .custom{ opacity: 1.0 !important; display: block !important; }

/* End custom menu icons */

/* To help when inserting YouTube videos... */
.panel iframe, .video iframe {
    border: medium none;
    width: 98.5%;
}

/* Search input overflows already at less than 1020px */
@media only screen and (max-width: 1020px) {
.searchform input[type='text'] { width: 74%;}
}

// REMARK A: In multicolumn this provides an extra 1.6% that was left margin in .wrapping (left col) and puts it into the
// the floating image left margin of the .floater (right col). This provides margin around the
// left hand side of the floated image.
.entry .wrapping{ margin-left: 0; }
.entry .floater{ margin-left: 1.6%; position: relative; z-index: 10;}

@media only screen and (max-width: 760px) {
  // For smaller portrait the % margin at the top is too
  // small so we fine tune here by forcing a reasonable
  // margin between the image amd the top of the
  // panel
  .floater img{margin-top: 6px !important; }

  // Once the column stops floating we need to get rid of that tweak
  // we mentioned in REMARK A above.
  .wrapping{ margin-left: 1.6%; }
  .floater{ margin-left: 0 !important; }

  .searchform input[type='text'] { width: 66%;}
}

/* Basic mobile portrait or perhaps tablet portrait layout */
@media only screen and (max-width: 750px) {
  .mobile{display: block !important;}
  .desktop{display: none !important;}
  #banner4, #banner3, #banner2, #banner1, #banner0 {animation: none; opacity: 1.0; background-image: none; display: none;}
  #bannerBg {
    background-image: url(/assets/banners/#{$banner-mobile});
    background-size: cover;
  }
  #banner-loading{display: none;}
}

@media only screen and (max-width: 820px) {
  // Change menu to hidden pop-up on click and fixed position
  #menu, #top-inner ul{display: none;}
  #menu{
    padding-top: 8px; padding-bottom: 12px;
    width: 90%; max-width: 330px; left: -10px; right: -10px;
    position: fixed; background-color: #f8f8f8; top: 44px;
    border: 1px solid $prime-color;
    background-image: none;
    border-radius: 2px;
    box-shadow: 0 50px 500px black;
    font-size: 16px;
  }
  #menu .col{ width: 100%; }
  #menu-loading-wrapper{display: block;}

  // Need to radically change the hover icons now menu has collapsed
  .icon .custom{
    height: 0px;
    border-width: 2px;
    margin: 3px auto !important;
    top: 16px;
    width: 30%;
  }
  #menu .wrapper .text{height: 20px;}

  .wrapper:not(#selected) .icon.sprite{background-image: none;}

  /* No Firefox support for background-position-x, but applies only usually to mobile any */
  #selected.wrapper .icon.sprite{background-position-x: left;}

  /* Adjust the tag line size */
  #tagline{font-size: 16px; font-size: 3vw;}

  #top{position: fixed; width: 100%; height: 85px;}
  #frame{padding-top: 74px;}
  #menu-button{display: block;}
}

/* Mobile portrait layout at less than 580px */
@media only screen and (max-width: 580px) {
  /* Stop adjusting margins by height %, it gets ugly this small */
  .col .img{margin: 0 auto; text-align:center;}
  .col{margin-top: 1px; margin-bottom: 3px;}

  /* Tagline probably no longer fits */
  #tag-wrapper{display: none;}

}

@media only screen and (min-width: 760px) {
  .wrapping{ float: none !important; width: auto !important; }
  .floater{ float: right !important; width: auto !important; }
} 

@media only screen and (max-width: 760px) {
  .entry .span_2_of_2 { width: 100%; }
  .entry .span_1_of_2 { width: 100%; }
  .entry .col .img{margin: 0 auto; text-align:center;}
}

