/* High res 'retina' screens */
@media (device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .button-wrapper a[class*='-share'], #top .icon a, .social-inner a div,
  .link a, .more a, .feint .more a, .flat .more a, .news .more a, #search-wrapper{
    background-image: url(#{$vert-x2-sprites});
    background-size: 28px $vert-sprites-height;
  }
  #logo{ background: transparent url(/assets/x2/#{$logo-top}) 0 0 no-repeat; background-size: $logo-top-width $logo-top-height; }
  #bar-menu .sign-in a{background-image: url(/assets/x2/user-icon.png);}
}
