#search-bar
  #search-bar-inner
    #search-wrapper
      = form_tag search_entries_path, method: 'get', :id => 'sidebarSearch', :class => 'searchform' do
        = text_field_tag :q, params[:q], :placeholder => t('Search'), :class => 'searchfield'

