body{
  font-size: 14px;
  line-height: normal;
}
.code{
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}

#top{
  display: none;
}
#frame{
  margin-top: 0px;
}
h1{
  font-size: 24px;
  margin: 6px 0px;
}
.panel {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  min-height: 50px;
  padding: 2px 8px 0;
  position: relative;
}

#dashboard .button {
    background: none repeat scroll 0 0 white;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    float: right;
    padding: 3px;
    text-align: center;
    margin-left: 6px;
}

.sidebar{
  background-color: #f4f4f4; padding: 0 6px;
}

#dialog .button{
  margin-top: -8px;
}

input[type="submit"], .button a {
  font-size: 14px;
}
input[type="submit"], .button{
  margin: 0px;
}

textarea{
  width: 99%;
  margin-bottom: 6px;
}

.mid.full{
  max-width: 100%;
}
 
#dashboard #top{
  position: relative;
}

#dashboard #menu{
  width: 100%;
  font-size: 20px;
  padding: 12px 0px 6px;
  height: auto;
  right: 0px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  margin-bottom: 6px;
  max-width: 1024px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #c8c8c8;
}
button, th{
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

#dashboard table th{
  color: #181828;
}
table table th{
  background-color: white;
  background-image: none;
}
table table{ margin-bottom: 18px; }
td.merge{ padding-left: 32px; }
td.warn{ background-color: yellow; }

th.short{font-size: 8px;}
th.short:hover{ font-size: 14px; }
#dashboard td a:hover{text-decoration: underline;}

@keyframes flash {
    0% { background-color:none;}
    50% { background-color:#4bc63e;}        
    100% {background-color:none;}
}
@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#4bc63e;}        
    100% {background-color:none;}
}

.flash{
  animation: flash 2s ease-out; animation-iteration-count: 5;
  -webkit-animation: flash 2s ease-out; -webkit-animation-iteration-count: 5;
}

#dashboard #menu a{
  color: #1f1f1f;
  text-shadow: none;
}

.nutshell {
    display: inline-block;
    vertical-align: top;
}
#menu .nutshell{
  width: 150px;
  text-align:  center;
  margin-bottom: 8px;
}

#menu.spacer_wrapper{
  margin-top: 16px;
}


fieldset {
    border: medium none;
}

.infomarker{
  background: transparent url(/assets/info.png) 0 0 no-repeat;
  padding: 0px 6px 6px 20px;
  cursor: help;
}
.infobox{
  margin: 8px auto 0px;
  width: 80%;
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 4px;
  z-index: 100;
  padding: 0 6px;
  display: none;
}
.infobox.wide{
  width: auto;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
tr.top td{
  background-color: #f0f0f0;
}
td.content{
  border-bottom: 1px dotted #a8a8a8;
}
td.tick{ text-align: center; }
td.name, td.number{ text-align: right; padding-right: 12px;}

th{
  border: 1px solid #c8c8c8;
  padding: 0px 2px;
  background-color: #f0f0f0;
  text-align: center;
}

#content{
  width: 98%;
  max-width: none;
  margin: 0 auto;
  left: 0;
}

#dialog fieldset{
  margin: 0; padding: 0;
}

#dialog{
  left: 0; right: 0;
  position: fixed;
  width: 96%;
  max-width: 352px;
  box-shadow: 0 0 4px #787878;
  border: 1px solid #484848;
  margin: 0 auto;
  z-index: 100;
  background-color: white;
  border-radius: 2px;
  padding: 12px;
  z-index: 10000;
  box-sizing: border-box;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#dialog.wide{
  max-width: 500px;
}

#dialog input[type='text']{
  max-width: 88%;
  margin: 0 auto;
}
#dialog.wide input[type='text']{
  width: 97%;
}

#dialog.entry.preview{
  max-width: 692px;
  width: 692px;
  top: 3px;
}

#dialog > h1{
  margin: -12px -12px 12px -12px;
  padding: 6px;
  background-color: #e8e8e8;
}

/* Flipswitch from proto.io */
    .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
      display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
    content: "ON";
    padding-left: 13px;
    background-color: #0053A6; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    }
    .onoffswitch-switch {
    width: 17px; margin: 4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 61px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }

