body{
  font-size: 14px;
  line-height: normal;
}
.code{
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}

#top{
  display: none;
}
#dashboard #frame{
  margin-top: 0px;
  background: #a0a0a0;
}
#dashboard #frame, #dashboard #frame a{
  color: black;
}

#dashboard #container, #dashboard #content{max-width: 1400px;}

// Some custom layouts will override the grid margins and stop
// our dashbord grid from working, so fix this with an override
#dashboard .col{margin: 1% 0 1% 1.6%;}
#dashboard .col:first-child, #dashboard .col:first-child { margin-left: 0; }

#dashboard table:not(.cke_dialog){
  width: 100%;
}
#dashboard table.bordered{
  border: 1px solid #505555
}

h1{
  font-size: 24px;
  margin: 6px 0px;
}
#dashboard .panel {
  background-color: #f8f8f8;
  min-height: 50px;
  padding: 2px 8px 0;
  position: relative;
  box-shadow: none;
  margin: 0;
}

#dashboard .button, #dialog #dashboard .button {
  width:auto;
  background: none repeat scroll 0 0 white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  float: right;
  padding: 3px;
  text-align: center;
  margin-left: 6px;
}
#dashboard .button a:hover{
  background: none;
}

#dashboard .dash > .button{margin: 4px 4px 0;}

input[checkbox]{ width:auto; }
.sidebar select{max-width: 300px;}

.sidebar{
  background-color: #f4f4f4; padding: 0 6px;
}
.sidebar input[text]{
  max-width: 80%;
}

#dashboard h2 {
    background-color: #515f68;
    color: #f0f8ff;
    padding: 2px 6px;
    margin: 0 0 4px 0;
    font-size: 24px;
}

#dialog > .button{
  margin-top: -8px;
}

#dialog .button + .button{margin-top: 12px;}

#dashboard .button a{
  background-color: white;
  line-height: normal;
  color: #181818;
  border: none;
}

input[submit], .button a {
  font-size: 14px;
}
input[submit], .button{
  margin: 0px;
}

textarea{
  width: 99%;
  margin-bottom: 6px;
}

.mid.full{
  max-width: 100%;
}

.dash{
  background-color: #f0f0f0;
  border: 1px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 6px;
}
 
#dashboard #top{
  position: relative;
}

#dashboard #dmenu{
  font-size: 20px;
  margin: 1.6% auto 16px;
  float: left;
  width: 100%;
}

#dmenu h5{
  padding: 6px;
  margin: 0;
}
.dash h1{
  margin: 6px;
}

#dmenu .item{
  border-bottom: 1px solid white;
}

#dmenu .spacer{
  height: 12px;
  background-color: transparent;
}
#dashboard #dmenu .item a:hover{
  background-color: #484848;
}
button{
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

#dashboard table th{
  background-color: #e6eeee;
  border: 1px solid #8c8c8c;
  font-size: 10pt;
  padding: 4px;
}
table table th{
  background-color: white;
  background-image: none;
}
table table{ margin-bottom: 18px; }
td.merge{ padding-left: 32px; }
td.warn{ background-color: yellow; }

#dashboard td a:hover{text-decoration: underline;}
.dash tr:nth-child(2n+1) td{background-color: white;}

@keyframes flash {
    0% { background-color:none;}
    50% { background-color:#4bc63e;}        
    100% {background-color:none;}
}
@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#4bc63e;}        
    100% {background-color:none;}
}

.flash{
  animation: flash 2s ease-out; animation-iteration-count: 5;
  -webkit-animation: flash 2s ease-out; -webkit-animation-iteration-count: 5;
}

#dashboard #dmenu a{
  padding: 6px;
  color: #fff;
  background-color: #515f68;
  text-shadow: none;
  font-size: 16px;
  display: block;
  border-radius: 4px;
}

fieldset {
    border: medium none;
}

.infomarker{
  background: transparent image-url('info.png') 0 0 no-repeat;
  padding: 0px 6px 6px 20px;
  cursor: help;
}
.infobox{
  margin: 8px auto 0px;
  width: 80%;
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 4px;
  z-index: 100;
  padding: 0 6px;
  display: none;
}
.infobox.wide{
  width: auto;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
tr.top td{
  background-color: #f0f0f0;
}
td.content{
  border-bottom: 1px dotted #a8a8a8;
}
td.tick{ text-align: center; width: 22px;}
td.name, td.number{ text-align: right;}
table td.link a{background: none;  padding:0;}
table td.link a::after{content: '▸'; color: #0060aa; font-size: 20px;padding-left: 8px;line-height:12px;}
tr.em td{border-top: 1px solid #888; border-bottom: 1px solid #888;}

.dash table{position: relative; z-index: 0;}
.dash td.photo{ padding: 0 0 1px; position: relative; width: 48px; height: 48px; }
.dash td.photo img{ transition: 0.5s; position: absolute; top: 0; left: 0;width: 48px; height: 48px; }
.dash tr td.photo:hover img{ width: 96px; height: 96px; z-index: 10; top: -24px; left: -24px; border: 4px solid #515f68;}

th{
  border: 1px solid #c8c8c8;
  padding: 0px 2px;
  background-color: #f0f0f0;
  text-align: center;
}


#content {
    left: 0;
    margin: 0 auto;
    width: 98%;
}
#content, .content {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 12px;
}

#dialog fieldset{
  margin: 0; padding: 0;
}

#dashboard #dialog{
  color:black;
  left: 0; right: 0;
  position: fixed;
  width: 96%;
  max-width: 352px;
  box-shadow: 0 0 4px #787878;
  border: 1px solid #484848;
  margin: 0 auto;
  background-color: white;
  border-radius: 2px;
  padding: 12px;
  z-index: 10000;
  box-sizing: border-box;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#dashboard #dialog.wide{
  max-width: 500px;
}

#dialog input[type='text']{
  max-width: 88%;
  margin: 0 auto;
}
#dialog.wide input[type='text']{
  width: 97%;
}

#dialog.entry.preview{
  max-width: 692px;
  width: 692px;
  top: 3px;
}

#dialog > h1{
  margin: -12px -12px 12px -12px;
  padding: 6px;
  background-color: #e8e8e8;
  display: block;
}

.switch_wrapper{
  margin: 4px auto;
}
/* Flipswitch from proto.io */
    .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
      display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
    content: 'ON';
    padding-left: 13px;
    background-color: #0053A6; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
    content: 'OFF';
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    }
    .onoffswitch-switch {
    width: 17px; margin: 4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 61px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }

