@font-face {
  font-family: 'Raleway'; font-style: normal; font-weight: 200;
  font-display: swap;
  src: font-url('raleway-extralight.eot');
  src: font-url('raleway-extralight.eot?#iefix') format('embedded-opentype'),
       font-url('raleway200.woff') format('woff'),
       font-url('raleway-extralight.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway'; font-style: normal; font-weight: 400;
  font-display: swap;
  src: font-url('raleway.eot');
  src: font-url('raleway.eot?#iefix') format('embedded-opentype'),
       font-url('raleway400.woff') format('woff'),
       font-url('raleway-regular.ttf') format('truetype');
}
