/*  SECTIONS  */
.section { clear: both; padding: 0px; margin: 0px; }

/*  COLUMN SETUP  */
.col { width: 100%; position: relative; display: block; float:left; margin: 1% 0 1% 1.6%; }
.col:first-child { margin-left: 0; }

/* RESIZING IMAGES */
.col .img img{
  width: 100%;
  max-width: 324px;
}

/*  GROUPING  */
.group:before, .group:after { content:''; display:table; }
.group:after { clear:both; }
.group { zoom: 1; /* For IE 6/7 */ }

/*  GRID OF TWO    */
.span_2_of_2 { width: 100%; }
.span_1_of_2 { width: 49.2%; }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.1%; }
.span_1_of_3 { width: 32.2%; }

/*  GRID OF FOUR   */
.span_4_of_4 { width: 100%; }
.span_3_of_4 { width: 74.6%; }
.span_2_of_4 { width: 49.2%; }
.span_1_of_4 { width: 23.8%; }

/*  GRID OF FIVE    */
.span_5_of_5 { width: 100%; }
.span_4_of_5 { width: 79.68%; }
.span_3_of_5 { width: 59.36%; }
.span_2_of_5 { width: 39.04%; }
.span_1_of_5 { width: 18.72%; }

/*  GRID OF SIX   */
.span_6_of_6 { width: 100%; }
.span_5_of_6 { width: 83.06%; }
.span_4_of_6 { width: 66.13%; }
.span_3_of_6 { width: 49.2%; }
.span_2_of_6 { width: 32.26%; }
.span_1_of_6 { width: 15.33%; }

/*  GRID OF NINE */


.span_9_of_9 { width: 100%; }
.span_8_of_9 { width: 88.71%; }
.span_7_of_9 { width: 77.42%; }
.span_6_of_9 { width: 66.13%; }
.span_5_of_9 { width: 54.84%; }
.span_4_of_9 { width: 43.55%; } 
.span_3_of_9 { width: 32.26%; }
.span_2_of_9 { width: 20.97%; }
.span_1_of_9 { width: 9.68%; }


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
  .span_9_of_9 { width: 100%; }
  .span_8_of_9 { width: 100%; }
  .span_7_of_9 { width: 100%; }
  .span_6_of_9 { width: 100%; }
  .span_5_of_9 { width: 100%; }
  .span_4_of_9 { width: 100%; }
  .span_3_of_9 { width: 100%; }
  .span_2_of_9 { width: 100%; }
  .span_1_of_9 { width: 100%; }

  .span_6_of_6 { width: 100%; }
  .span_5_of_6 { width: 100%; }
  .span_4_of_6 { width: 100%; }
  .span_3_of_6 { width: 100%; }
  .span_2_of_6 { width: 100%; }
  .span_1_of_6 { width: 100%; }

  .span_5_of_5 { width: 100%; }
  .span_4_of_5 { width: 100%; }
  .span_3_of_5 { width: 100%; }
  .span_2_of_5 { width: 100%; }
  .span_1_of_5 { width: 100%; }

  .span_4_of_4 { width: 100%; }
  .span_3_of_4 { width: 100%; }
  .span_2_of_4 { width: 100%; }
  .span_1_of_4 { width: 100%; }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 580px) {
  .col { margin: 1% 0 1% 0%; }
}
@media only screen and (max-width: 580px) {
  .span_2_of_2 { width: 100%; }
  .span_1_of_2 { width: 100%; }

  .span_3_of_3 { width: 100%; }
  .span_2_of_3 { width: 100%; }
  .span_1_of_3 { width: 100%; }
}
