// These just to make it clearer on editing view
// #newsletter-wrapper{ box-shadow: 0 0 1px #a0a0a0; max-width: 606px; margin: 0 auto;}
#newsletter-wrapper{ box-shadow: 0 0 1px #a0a0a0; max-width: 660px; margin: 0 auto;}
#newsletter-wrapper tr td{ background-color: white;}
#newsletter-wrapper tr td.nl_entry{ vertical-align: top;}
.newsletter .controls{position: absolute; top: 0px; display: none; width: 100%; height: 100%; color: #484848; font-size: 20px;z-index:100;}
.newsletter .controls a{color: #484848; display: block;}
.newsletter .controls a:hover{color: black;}
.controls .remove, .controls .layout, .controls .new, .controls .swap, .controls .add{position: absolute; top: 0px; padding: 16px; background-color: white; color: #484848;}
.controls > *{border: 1px solid #a8a8a8; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
.controls .swap{left: 0px; border-bottom-right-radius: 32px;}
.controls .add{right: 0px; border-bottom-left-radius: 32px;}
.controls .layout{left: 0px; top: auto; bottom: 0px; border-top-right-radius: 32px;}
.controls .new{right:0px; top: auto; bottom:0px; border-top-left-radius: 32px;}
.controls .remove{margin: 0 auto; width: 16px; top: 0; left: 0; right: 0; text-align: center; bottom:auto; border-bottom-left-radius: 32px;border-bottom-right-radius: 32px;}
.newsletter td:hover .controls{display: block;}
.nl_entry.selected{border-color: grey;}


.nutWrap{width: 100%; position: relative; bottom: 0px;}
.newsletter .img{text-align: center; max-height: 280px;}
.newsletter .img img{max-width: 100%; max-height: 280px;}
table.newsletter{table-layout: fixed; position:relative; border-collapse: separate;}
.newsletter td{width: 50%; position: relative; padding: 0px; border: 10px solid white;}
.nl_entry{position: relative;}
td h1, td h2{text-align: right;}
td h3, td h4{margin: 0 12px; padding: 0px;}
td h3, td h4{margin: 0 0 12px 0;}
td h3 a{color: #666454; font-size: 18px;}
td h4 a{color: #aead9e !important; font-size: 13px;}
td.titles{border-top: 0px; vertical-align: bottom;}
.nutWrapInner{min-height: 56px; padding: 0 0 4px 0; background-color: white; border-bottom: 1px solid #a0a0a0; position: relative;}

.newsletter{
  position: relative;
  max-width: 768px; width: 100%;
  margin: 12px auto;
  background-color: white;
}

.newsletter a, .newsletter p a{ color: blue; text-decoration: underline;}
.newsletter a, .newsletter p a{ color: initial; text-decoration: initial;}
.newsletter a:hover, .newsletter p a:hover{ color: initial; text-decoration: initial;}

.newsletter tr{
  position: relative;
}

.newsletter p{
  text-align: left;
}

// #newsletter_name, #newsletter_subtitle {
//   font-size: 40px;
//   border: 1px solid grey;
//   margin: 0px 6px;
//   padding: 0px;
//   max-width: 460px;
//   color: #333;
// }

// #newsletter_subtitle {
//   font-size: 28px;
//   height: 70px;
// }

.newsletter h1{font-weight: bold; font-size: 40px;}
.newsletter h2{font-weight: bold; font-size: 32px;}

.newsletter .logo{
  margin: 6px;
  position: relative;
  z-index: 1;
}

.newsletter .entry{
  position: relative;
}

.newsletter fieldset.action{
  position: absolute;
  background-color: #f0f0f0;
  right: 0px;
  display: none;
  z-index: 10;
}

.newsletter td{
  background-color: white;
}

.newsletter fieldset.action.append{
  bottom: 0px;
}

.newsletter fieldset.action.prepend{
  top: 0px;
}

.newsletter:hover fieldset.action{
  display: block;
}

.newsletter .clear{
  clear: both;
}
