#newsletter-wrapper{
  table{width: auto;}
}
#newsletter-wrapper tr{
  background-color: initial;
}

.newsletter{
  position: relative;
  max-width: 768px; width: 100%;
  margin: 12px auto;
  background-color: white;
}

.newsletter a, .newsletter p a{ color: blue; text-decoration: underline;}
.newsletter a, .newsletter p a{ color: initial; text-decoration: initial;}
.newsletter a:hover, .newsletter p a:hover{ color: initial; text-decoration: initial;}

table.newsletter{
  border-width: 0px; border-collapse: collapse;
}

.newsletter tr{
  position: relative;
}

.newsletter p{
  text-align: left;
}

#newsletter_name, #newsletter_subtitle {
  font-size: 40px;
  border: 0px;
  margin: 0px 6px;
  padding: 0px;
  max-width: 460px;
}

#newsletter_subtitle {
  font-size: 28px;
  height: 70px;
}

.newsletter h1{font-weight: bold; font-size: 40px;}
.newsletter h2{font-weight: bold; font-size: 32px;}
#newsletter-header td{padding: 6px;}
table .newsletter-footer td{
  border-top: 1px solid #c0c0c0;
  background-color: #f0f0f0;
}

.newsletter .logo{
  margin: 6px;
  position: relative;
  z-index: 1;
}

.newsletter .entry{
  position: relative;
}

.newsletter fieldset.action{
  position: absolute;
  background-color: #f0f0f0;
  right: 0px;
  display: none;
  z-index: 10;
}

.newsletter td{
  background-color: white;
}

.newsletter fieldset.action.append{
  bottom: 0px;
}

.newsletter fieldset.action.prepend{
  top: 0px;
}

.newsletter:hover fieldset.action{
  display: block;
}

.newsletter .clear{
  clear: both;
}
