@-webkit-keyframes fadein {0%{opacity:0.0;}100%{opacity:1.0;}}
@keyframes fadein {0%{opacity:0.0;}100%{opacity:1.0;}}

.photo img{
  animation: fadein 1s 1 linear;
  -webkit-animation: fadein 1s 1 linear;
}

#semi_static_ajax_photo{position:relative;min-height: 240px;}
#semi_static_photo .panel.photo img{transition: all 20s ease;}
#semi_static_ajax_photo h2{min-height:32px;}
#semi_static_ajax_photo .popable::after{top:-7px;}
.photo figure img{
  width: auto;

  -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;

}
.index .photo img.selected{
  box-shadow: 0 0 4px #505050;
  border-color: #333;
  opacity: 0.4;
}
.panel.photo{
  padding-bottom: 6px;
  height:100%;
}
.cmd{
  color: #808080;
}
.photo .more{
  margin-top: 6px;
}
.rotate{
  margin-top:10%;
  height: 90%;
  position: absolute;
  width: 100%;
  top: 0;
}
.next, .prev{
  font-size: 64px;
}
.cmd.flash.left, .cmd.flash.right,
.photo:hover .center, .photo:hover .left, .photo:hover .right{
  background-color: rgba(255,255,255,0.4);
  color:#505050; 
  display:block;
}
.cmd.flash{
  transition: all 3s;
}
.left, .center, .right{
  position: absolute;
  max-width: 122px;
  width: 20%;
  height: 70%;
  z-index: 10;
  color:transparent;
  padding: 0 20px;
  top:0;
}
#semi_static_ajax_photo .arrow{padding-top:48px;}
#semi_static_ajax_photo .link{padding:12px;}
.center{
  margin: auto;
  max-height:32px;
  left:0;right:0;top:0;
  padding:8px 0 16px;
  max-width: none;
  display:none;
  border-radius:24px;
  text-align: center; width: 50%;
}
.left{left:0; text-align: left; width: 20%;border-radius:0 50% 50% 0;}
.right{right:0; text-align: right; width: 20%;border-radius:50% 0 0 50%;}

@media only screen and (max-width: 880px) {
  .cmd{color: transparent;}
  .left, .right{
    width: 10%;
    font-size: 80px;
  }
  .center{width: 80%;}
}
