@-webkit-keyframes fadein {0%{opacity:0.0;}100%{opacity:1.0;}}
@keyframes fadein {0%{opacity:0.0;}100%{opacity:1.0;}}

#semi_static_ajax_photo{position:relative;min-height: 240px;}
#semi_static_photo h1,
#semi_static_photo h2{font-size: 22px;}
#semi_static_photo h2 a{border-bottom: none;}
#semi_static_ajax_photo h2{min-height:32px;}
#semi_static_ajax_photo .popable::after{top:-7px;}
.photo figure img{
  width: auto;
}
.index .photo img.selected{
  box-shadow: 0 0 4px #505050;
  border-color: #333;
  opacity: 0.4;
}
.panel.photo{
  padding-bottom: 6px;
  height:100%;
  background-color: transparent;
  box-shadow: none;
}
.cmd{
  color: #808080;
}
.photo .more{
  margin-top: 6px;
}
.rotate{
  position: absolute;
  width: 100%;
  top: 32px;
}
.next, .prev{
  font-size: 64px;
}
.cmd.flash.left, .cmd.flash.right,
.photo:hover .center, .photo:hover .left, .photo:hover .right{
  background-color: rgba(255,255,255,0.4);
  color:#505050; 
  display:block;
}
.photo:hover .arrow{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.cmd.flash{
  transition: all 3s;
}
.photo .left, .photo .center, .photo .right{
  position: absolute;
  max-width: 122px;
  width: 20%;
  height: 70%;
  z-index: 10;
  color:transparent;
  padding: 0 20px;
  top:0;
}
#semi_static_ajax_photo .arrow{
  padding-top:48px;
}
#semi_static_ajax_photo .link{position:relative; z-index: 10; top: 43px; padding: 6px; background-color: rgba(255,255,255,0.8);}
.photo .center{
  margin: auto;
  max-height:32px;
  left:0;right:0;top:0;
  padding:8px 0 16px;
  max-width: none;
  display:none;
  text-align: center;
}
.photo .left{left:0; text-align: left; width: 20%;border-radius:0 50% 50% 0;}
.photo .right{right:0; text-align: right; width: 20%;border-radius:50% 0 0 50%;}

@media only screen and (max-width: 880px) {
  .cmd{color: transparent;}
  .left, .right{
    width: 10%;
    font-size: 80px;
  }
  .center{width: 80%;}
}
