// Next is just for sign in
.devise #content {
  max-width: 800px;
  margin: 0 auto;
}

// Bootstrap style btn
.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  background-color: $prime-color;
  color: white;
}
.btn:not([disabled]):not(.disabled):not(.btn-link):hover, .btn:not([disabled]):not(.disabled):not(.btn-link):focus {
  text-decoration: none;
  transform: translate3d(0, -1px, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.btn a, a.btn{color: white;}

// The shopping cart
.semiStaticCart{
  float:right;
  position: relative;
  background-color: $prime-color;
  border-radius: 2px;
  height: 32px;
  margin: 6px;
}
.semiStatic
.semiStaticCart.update{
  background-color: green;
}
.semiStaticCart.remove{
  background-color: red;
}
.semiStaticCart input,
.semiStaticCart img{
  position: relative;
  padding: 0 6px;
  margin: 0px;
  height: 32px;
  z-index: 1;
}
.semiStaticCartContent{
  position: absolute;
  font-size: 32px;
  top: -8px;
  right: 15px;
  color: white;
}
.remove .semiStaticCartContent{
  top: -3px;
  right: 13px;
  font-size: 20px;
}
#dialog.semiStaticCartDialog{
  padding: 12px;
  background-color: $prime-color;
  border-radius: 2px;
  position: fixed; bottom: 12px; right: 12px;
  z-index: 1000; border: 2px solid white;
  color: white;
}
#semiStaticShoppingCartStatus h2{
  margin-top: 0px;
  padding-bottom: 8px;
  border-bottom: 1px white solid;
  color: white;
}
#semiStaticShoppingCartStatus > img{
  margin-top: -6px;
  float: right;
  height: 32px;
}
#semiStaticShoppingCartStatus p{
  text-align: right;
}
.side-bar #semiStaticShoppingCartStatus .section{
  border-top: 0;
  background-color: transparent;
}
.side-bar #semiStaticShoppingCartStatus h2{
  margin-top: 0;
  color: white;
}
.side-bar #semiStaticShoppingCartStatus{
  padding: 12px;
  margin: 9px 6px 12px;
}
.side-bar #semiStaticShoppingCartStatus,
#semiStaticShoppingCartStatus{
  background-color: $prime-color;
  color: white;
  border-radius: 2px;
}
#semiStaticShoppingCartStatus input[type='submit'],
#semiStaticShoppingCartStatus a{
  display: block;
  background-color: white;
  color: $prime-color;
  text-align: center;
  padding: 12px;
  margin: 12px 0 0 0;
  border-radius: 2px;
  border: 0;
}
.semiStaticOrderSummary div a{
  color: white;
}
.semiStaticCheckout h2 a{
  text-decoration: underline;
}
.semiStaticCheckout{
  border-radius: 2px;
  padding: 12px;
  background-color: white;
}
.semiStaticCheckout hr{
  border: 0;
  border-top: 1px solid #d0d0d0;
}
.semiStaticCheckout input[type='number']{
  max-width: 46px;
}
.semiStaticRemoveFromCart{
  background-color: red;
  border-radius: 4px;
  float: right;
  margin:6px;
}
.semiStaticCartQuantities{
  float: right;
  margin-top: 8px;
}
  
// Stop .mobile content display
.mobile{
  display: none;
}
// DD photo dialog and stuff...
.popped{max-width: 90%;max-height:90%;display:block;position:fixed; background-repeat: no-repeat; background-attachment: local; overflow: auto; z-index:2000; left:0; right:0; top:0; bottom:0; margin: auto;}
#popoff{background-color: transparent; width: 100%; height:auto;; cursor:pointer;}
.popped:hover #popup_caption{opacity: 0.0;}
#popup_caption{
  position:absolute; background-color: rgba(255,255,255,0.9); color: black; font-size: 14px;
  bottom: 0px; width: 100%; text-align: center; box-sizing: border-box;
  transition: opacity 1s ease-in-out;
  border-top: 1px solid #a8a8a8; margin-top: 4px;
  padding: 12px;}

.popable::after{
  content:'↔'; font-size: 20px;position: absolute; top:3px; right:3px;
  color: #e0e0e0; padding: 4px; background-color: rgba(0,0,0,0.7);
  border: 1px solid #d8d8d8; border-radius:50%;
  height: 24px;
  width: 24px;
  line-height: 22px;
  transform: rotate(135deg);
}

.image_wrapper{position:relative;}
.side_bar .popable::after{
  top: 42px;right:12px;
}
@-moz-document url-prefix() {
  .popable::after{line-height:20px;}
}

// Search results
#results td{background-color: white;}
#results tr.last td{border-bottom: 1px solid #888;}
#results td.score{background-color: #f0f4f8; border-bottom: 1px solid #888;}

// Squeeze
a.squeeze{display:block; background-color:#dcdcdc; border: 1px solid #bbb; padding: 0 8px; text-align:center; border-radius: 8px; margin: 8px 10%;}

.entryIcon{float:left; width:64px;
  height:64px;background-repeat: no-repeat; background-position: left top;
  background-size: 64px 64px; padding-right: 18px;
  border-right: 1px solid #a0a0a0;
  margin: 0 12px 12px 0;
}
a.entryIconLink + h1{padding-bottom: 7px;}


.extra-padding{padding: 6px;}
.sidebar{margin-bottom: 8px;}
.entry p a, .entry li a {
  color: $secondary-color;
  border-bottom: 0.0625rem solid #dcdcdc;
  text-decoration: none;
  transition: border-color 0.2s ease-out 0s;
}

.entry p a:hover,
.entry p a:focus{
  border-bottom: 0.0625rem solid #a0a0a0;
}

/* Stop element going outside of viewport on mobile screens */ 
.html, .caption, p{
  word-wrap: break-word;
}

.caption{
  font-size: 14px;
  text-align: center;
  border-top: none;
  width: 100%;
}

figure{text-align: center;}
figure img{width: 100%;}

.entry .caption{
  max-width: 324px;
  margin: 0 auto;
}
.entry .caption.free, .entry img.free{
  max-width: none;
}
.caption p{
  margin-top:0px;
}
.entry .caption{
  border-bottom: 1px solid #d0d0d0;
}
.entry .caption-inner{
  margin-top: -4px;
  padding: 4px 4px 6px;
}

.floater{
  position: relative;
  z-index: 10;
}

/* Job posting table */
.job-posting td{padding:6px 18px;}
.job-posting td p{padding-left:0; padding-right:0;}
.job-posting{margin: 0 18px 18px 18px; border: 1px solid #aaa;}
.job-posting table td *{margin-left: 0; margin-right: 0;}

/* Subscriber teasers */
.subscriber_block{
  position: relative;
  margin-top: -128px;
  padding: 128px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%,rgba(255,255,255,1) 100%);
  z-index:100000;
}
.subscriber_notice{
  position: absolute;
  left: 32px; right: 32px; top: 32px; bottom: 32px;
  width: 80%; margin: 32px auto; text-align:center;
  border: 1px solid #0060aa;
  background-color:white;
  padding: 24px;
  display:table;
}
.subscriber_instruction{
  line-height:32px;
}

h4{ font-weight: normal; color: black; margin-top: 6px; margin-bottom: 12px;}

#toTop{
  display: none;
}
#menu-loading-wrapper{
  display: none;
}
#menu-loading{
  display: none;
  width: 80%;
  margin: 6px auto;
  color: $prime-color;
  text-align: center;
  height: 20px;
}
#slide-menu-wrapper .wrapper a.subLink{ text-transform:none; display:block; margin: 12px 0; }

.block_button{
  text-align: center;
  margin: 8px auto;
}
.block_button a{
  background-color: $prime-color;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  color: white;
}

.yt_video iframe{
  width: 100% !important; border: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 96%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
