%tr
  %td{:colspan => 2}
    = render :partial => 'controls', :locals => {:e => e}
    %h3= e.title
    %h4{:style => 'color: red;'} WARNING: Layout error. Please mouse-over to use icons to set the layout
