- SemiStatic::Entry.home.locale(I18n.locale).each_slice(3).with_index do |row, i|
  -# .skrollr-holder{:data =>  {'350-bottom' => "width: 60%;", '250-bottom' => "width: 100%;"}}
  .skrollr-holder
    .section{:class => "row_#{i.to_s}"}
      - row.each do |e|
        .col.span_1_of_3
          .entry.panel{:class => e.style_class, :style => "background-color:#{e.background_colour}; color: #{e.colour}"}
            = render :partial => 'semi_static/entries/entry', :locals => {:e => e, :summary => :small}
