= 'Unsubscribe request'

= h 'Name: ' + [ @subscriber.name, @subscriber.surname ].join(" ")

= h 'Email: ' +  @subscriber.email

= h 'Telephone: ' + @subscriber.telephone

Has unsubscribed and has thus been deleted from the subscriber database. You should take care to remove the subscribers details from any other databases and to ensure that you do not add the subscribers to the database again without their explicit instruction.
