- if @tag.banner
  - content_for :banner do
    #overlay-2
      - unless @tag.effective_tag_line.blank?
        #tag-wrapper
          #tagline
            = @tag.effective_tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{@tag.banner.img_url_for_theme(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{@tag.banner.img_url_for_theme(:mobile)})"}

= render :partial => 'semi_static/tags/show'
